<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modalOverlay" style="background:rgba(0,0,0,.5); top:0px; left:0px; width:100%; height:100%; z-index:99;position: fixed;"></div>
    <div class="modal-dialog modal-md" style="width:65%;">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </a>
                <h4 class="modal-title">
                    <span *ngIf="enqActivity.id">{{l("Edit Activity")}}: {{enqActivity.title}}</span>
                    <span *ngIf="!enqActivity.id">{{l("Create Enquiry Activity")}}</span>
                </h4>

            </div>

            <form #createInquiryActivityForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input #activityTitle class="form-control" type="text" name="title" [ngClass]="{'edited':enqActivity.title}" [(ngModel)]="enqActivity.title" required>
                                    <label>{{l("Title")}} <required_field></required_field></label>
                                </div>
                            </div>


                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <label>Type <required_field></required_field></label>
                                <ng-select #activitytypeCombobox [active]="active_tagActType" [allowClear]="true" [items]="types" [disabled]="disabled" (data)="refreshActTypeValue($event)" (selected)="selectedActTypeValue($event)" (removed)="removedActTypeValue($event)" (typed)="typedActTypeValue($event)"
                                    placeholder="No ActivityType selected"></ng-select>
                            </div>

                            <div class="col-md-6">
                                <label>Contact <required_field></required_field></label>
                                <ng-select #companyContactCombobox [active]="active_tagcontact" [allowClear]="true" [items]="contacts" [disabled]="disabled" (data)="refreshContactValue($event)" (selected)="selectedContactValue($event)" (removed)="removedContactValue($event)" (typed)="typedContactValue($event)"
                                    placeholder="No Contact selected"></ng-select>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <label>Message <required_field></required_field></label>
                                <textarea class="form-control" placeholder="Message" style="min-height: 100px;" name="notes" [(ngModel)]="enqActivity.message" required></textarea>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                            <button type="submit" class="btn btn-primary blue" [disabled]="!createInquiryActivityForm.form.valid || !EnqActivity.activityId || !EnqActivity.contactId" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>