<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #createsubGroupForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span *ngIf="subGroup.id">{{l("EditSubGroup")}}: {{subGroup.productSubGroupName}}</span>
                        <span *ngIf="!subGroup.id">{{l("CreateSubGroup")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input #nameInput class="form-control" type="text" name="code" [ngClass]="{'edited':subGroup.productSubGroupCode}" [(ngModel)]="subGroup.productSubGroupCode" required>
                        <label>{{l("productSubGroupCode")}} <required_field></required_field></label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="name" [ngClass]="{'edited':subGroup.productSubGroupName}" [(ngModel)]="subGroup.productSubGroupName" required>
                        <label>{{l("productSubGroupName")}} <required_field></required_field></label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>Product Group <required_field></required_field></label>
                        <ng-select [active]="active_product" [allowClear]="true" [items]="product_group" (selected)="doSomething($event)" (removed)="removeProduct($event)" placeholder="Nothing is selected">
                        </ng-select>
                        <!--<select #subGroupCombobox id="yourDropDownElementId" name="group" class="form-control" [(ngModel)]="SelectedGroup" [attr.data-live-search]="true" (change)="doSomething(SelectedGroup)" jq-plugin="selectpicker" required>
                            <option [value]="SelectedGroupNo">{{SelectedGroupName}}</option> 
                            <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option> 
                        </select>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!createsubGroupForm.form.valid || !subGroup.groupId" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>