<div [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6 text-right">
           <button title="Create New" (click)="createProduct()" class="btn btn-circle btn-icon-only blue"><i class="fa fa-plus"></i></button>            
           <button title="Export" class="btn btn-circle btn-icon-only blue" *ngIf="isGranted('Pages.Tenant.Export')" (click)="exportExcel()"><i class="fa fa-file-excel-o"></i></button>       
         </div>
    </div>
    <tabset  class="tab-container tabbable-line">
        <tab heading="Standard Products">
            <div class="portlet light margin-bottom-0">
                <div class="portlet-body">
                    <div class="form">
                        <form class="horizontal-form">
                            <div class="form-body">
                                <div class="row margin-bottom-10">
                                    <div class="col-md-12">
                                        <div class="inputs inputs-full-width">
                                            <div class="portlet-input">
                                                <div class="input-group">
                                                    <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                                        <span class="input-group-btn">
                                                            <button (click)="getData()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                        <p-dataTable #dataTable
                            (onLazyLoad)="getData($event)"
                            [value]="primengDatatableHelper.records"
                            rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                            [paginator]="false"
                            [lazy]="true"
                            emptyMessage="{{l('NoData')}}"
                            scrollable="true" 
                            [responsive]="primengDatatableHelper.isResponsive">
                 
                            <p-column field=""
                                header="{{l('Actions')}}"
                                [sortable]="false"
                                [style]="{'width':'75px'}">
                    
                                <ng-template let-record="rowData" pTemplate="body">
                                    <div class="btn-group dropdown mydropdown">
                                        <button class="dropdown-toggle btn btn-xs btn-primary blue"
                                            data-toggle="dropdown"
                                            tooltip="{{l('Actions')}}"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fa fa-cog"></i><span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li *ngIf="isGranted('Pages.Tenant.ProductFamily.Products.Edit')">
                                                <a (click)="editLeads(record)">{{l('Edit')}}</a>
                                            </li>
                                            <li *ngIf="isGranted('Pages.Tenant.ProductFamily.Products.Delete')">
                                                <a (click)="deleteLeads(record)">{{l('Delete')}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </p-column>
                            <p-column field="productCode" header="{{l('Product Code')}}" [sortable]="true" [style]="{'width':'250px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span>
                                        {{record.productCode}}
                                    </span>
                                </ng-template>
                            </p-column>
                            <p-column field="productSpecificationName" header="{{l('Product Specification')}}" [sortable]="true" [style]="{'width':'150px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span *ngIf="record.productSpecificationId != null">{{record.productSpecificationName}}</span>
                                    <span *ngIf="record.productSpecificationId == null" style="color: red;">Custom Product</span>
                                </ng-template>
                            </p-column>
                            <p-column field="suspectCode" header="{{l('Supplier Code')}}" [sortable]="true" [style]="{'width':'150px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span>
                                        {{record.suspectCode}}
                                    </span>
                                </ng-template>
                            </p-column>
                            <p-column field="gPCode" header="{{l('GP Code')}}" [sortable]="true" [style]="{'width':'150px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span>
                                        {{record.gpcode}}
                                    </span>
                                </ng-template>
                            </p-column>
                            <p-column field="price" header="{{l('Price (AED)')}}" [sortable]="true" [style]="{'width':'100px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span>
                                        {{record.price}}
                                    </span>
                                </ng-template>
                            </p-column>
                            <p-column field="dimention" header="{{l('Dimension (W-D-H)')}}" [sortable]="false" [style]="{'width':'150px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span>
                                        {{record.dimention}}
                                    </span>
                                </ng-template>
                            </p-column>
                            <p-column field="categoryName" header="{{l('Category')}}" [sortable]="true" [style]="{'width':'150px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span>
                                        {{record.categoryName}}
                                    </span>
                                </ng-template>
                            </p-column>
                            <p-column field="bafcoMade" header="{{l('Bafco Made')}}" [sortable]="false" [style]="{'width':'100px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span>
                                        <i *ngIf="record.bafcoMade" class="fa fa-check-circle-o" style="font-size: 25px;color: #0fb11c;margin-left: 20px;"></i>
                                        <i *ngIf="!record.bafcoMade" class="fa fa-check-circle-o" style="font-size: 25px;color: #80808057;margin-left: 20px;"></i>
                                    </span>
                                </ng-template>
                            </p-column>
                            <p-column field="isQuotation" header="{{l('In Quotation')}}" [sortable]="false" [style]="{'width':'100px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span>
                                        <i *ngIf="record.isQuotation" class="fa fa-check-circle-o" style="font-size: 25px;color: #0fb11c;margin-left: 20px;"></i>
                                        <i *ngIf="!record.isQuotation" class="fa fa-check-circle-o" style="font-size: 25px;color: #80808057;margin-left: 20px;"></i>
                                    </span>
                                </ng-template>
                            </p-column>
                            <p-column field="CreatedBy" header="{{l('Created By')}}" [sortable]="true" [style]="{'width':'150px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span>
                                        {{record.createdBy}}
                                    </span>
                                </ng-template>
                            </p-column>
                            <p-column field="LastModifiedBy" header="{{l('Last Modified By')}}" [sortable]="true" [style]="{'width':'150px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span>
                                        {{record.lastModifiedBy}}
                                    </span>
                                </ng-template>
                            </p-column>
                            <p-column field="CreationTime" header="{{l('Creation Time')}}" [sortable]="true" [style]="{'width':'200px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span>
                                        {{record.screationTime}}
                                    </span>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                #paginator
                                (onPageChange)="getData($event)"
                                [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Non Standard Products">
                <div class="portlet light margin-bottom-0">
                    <div class="portlet-body">
                        <div class="form">
                            <form class="horizontal-form">
                                <div class="form-body">
                                    <div class="row margin-bottom-10">
                                        <div class="col-md-12">
                                            <div class="inputs inputs-full-width">
                                                <div class="portlet-input">
                                                    <div class="input-group">
                                                        <input [(ngModel)]="filterText2" name="filterText2" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                                            <span class="input-group-btn">
                                                                <button (click)="getTempProduct()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                            <p-dataTable #tenpProductTable
                                (onLazyLoad)="getTempProduct($event)"
                                [value]="tempProductArray"
                                rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                [paginator]="false"
                                [lazy]="true"
                                emptyMessage="{{l('NoData')}}"
                                scrollable="true" 
                                [responsive]="primengDatatableHelper.isResponsive">
                     
                                <p-column field=""
                                    header="{{l('Actions')}}"
                                    [sortable]="false"
                                    [style]="{'width':'75px'}">
                        
                                    <ng-template let-record="rowData" pTemplate="body">
                                        <div class="btn-group dropdown mydropdown">
                                            <button class="dropdown-toggle btn btn-xs btn-primary blue"
                                                data-toggle="dropdown"
                                                tooltip="{{l('Actions')}}"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fa fa-cog"></i><span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li *ngIf="isGranted('Pages.Tenant.ProductFamily.Products.Edit')">
                                                    <a (click)="editTempProduct(record)">{{l('Edit')}}</a>
                                                </li>
                                                <li *ngIf="isGranted('Pages.Tenant.ProductFamily.Products.Delete')">
                                                    <a (click)="deleteTempProduct(record)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="productCode" header="{{l('Product Code')}}" [sortable]="true" [style]="{'width':'250px'}">
                                    <ng-template let-record="rowData" pTemplate="body">
                                        <span>
                                            {{record.productCode}}
                                        </span>
                                    </ng-template>
                                </p-column>
                                <p-column field="suspectCode" header="{{l('Supplier Code')}}" [sortable]="true" [style]="{'width':'150px'}">
                                    <ng-template let-record="rowData" pTemplate="body">
                                        <span>
                                            {{record.suspectCode}}
                                        </span>
                                    </ng-template>
                                </p-column>
                                <p-column field="gPCode" header="{{l('GP Code')}}" [sortable]="true" [style]="{'width':'150px'}">
                                    <ng-template let-record="rowData" pTemplate="body">
                                        <span>
                                            {{record.gpcode}}
                                        </span>
                                    </ng-template>
                                </p-column>
                                <p-column field="price" header="{{l('Price (AED)')}}" [sortable]="true" [style]="{'width':'100px'}">
                                    <ng-template let-record="rowData" pTemplate="body">
                                        <span>
                                            {{record.price}}
                                        </span>
                                    </ng-template>
                                </p-column>
                                <p-column field="dimention" header="{{l('Dimension (W-D-H)')}}" [sortable]="false" [style]="{'width':'150px'}">
                                    <ng-template let-record="rowData" pTemplate="body">
                                        <span>
                                            {{record.dimention}}
                                        </span>
                                    </ng-template>
                                </p-column>                               
                                <p-column field="isQuotation" header="{{l('In Quotation')}}" [sortable]="false" [style]="{'width':'100px'}">
                                    <ng-template let-record="rowData" pTemplate="body">
                                        <span>
                                            <i *ngIf="record.isQuotation" class="fa fa-check-circle-o" style="font-size: 25px;color: #0fb11c;margin-left: 20px;"></i>
                                            <i *ngIf="!record.isQuotation" class="fa fa-check-circle-o" style="font-size: 25px;color: #80808057;margin-left: 20px;"></i>
                                        </span>
                                    </ng-template>
                                </p-column>
                                <p-column field="CreatedBy" header="{{l('Created By')}}" [sortable]="true" [style]="{'width':'150px'}">
                                    <ng-template let-record="rowData" pTemplate="body">
                                        <span>
                                            {{record.createdBy}}
                                        </span>
                                    </ng-template>
                                </p-column>
                                <p-column field="LastModifiedBy" header="{{l('Last Modified By')}}" [sortable]="true" [style]="{'width':'150px'}">
                                    <ng-template let-record="rowData" pTemplate="body">
                                        <span>
                                            {{record.lastModifiedBy}}
                                        </span>
                                    </ng-template>
                                </p-column>
                                <p-column field="creationTime" header="{{l('Creation Time')}}" [sortable]="true" [style]="{'width':'200px'}">
                                    <ng-template let-record="rowData" pTemplate="body">
                                        <span>
                                            {{record.screationTime}}
                                        </span>
                                    </ng-template>
                                </p-column>
                            </p-dataTable>
                            <div class="primeng-paging-container">
                                <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                    #paginator
                                    (onPageChange)="getTempProduct($event)"
                                    [totalRecords]="tempProductCount"
                                    [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', tempProductCount)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
    </tabset>
</div>
<createEditProductModal #createEditProductModal (modalSave)="ngOnInit()"></createEditProductModal>
<createTempProductModal #createTempProductModal (modalSave)="getTempProduct()"></createTempProductModal>