<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content main-content">
          <div class="modal-header">
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <span *ngIf="productGroup.id">{{l("Edit ProductGroup")}}: {{productGroup.productGroupName}}</span>
                    <span *ngIf="!productGroup.id">{{l("Create New ProductGroup")}}</span>
                </h4>
          </div>
          <form *ngIf="active && !productGroup.id" #createProductGroupForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-body">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input #nameInput class="form-control" type="text" name="name" [ngClass]="{'edited':productGroup.productGroupName}" [(ngModel)]="productGroup.productGroupName" required>
                        <label>{{l("Product group name")}} <required_field></required_field></label>
                    </div>                   
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>{{l("Product Family")}}</label>
                        <ng-select [active]="active_family" [allowClear]="true" [items]="productFamily" (selected)="selectedFamily($event)" (removed)="removeFamily($event)" placeholder="Select Product Family">
                        </ng-select>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>{{l("Product Category")}}</label>
                        <ng-select [active]="active_category" [allowClear]="true" [items]="productCategory" (selected)="selectedCategory($event)" (removed)="removeCategory($event)" placeholder="Select Product Category">
                        </ng-select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!createProductGroupForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>  
          <tabset  class="tab-container tabbable-line" #tabsActive *ngIf="productGroup.id">
            <tab heading="Product Group"> 
            <form *ngIf="active" #createProductGroupForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-body">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input #nameInput class="form-control" type="text" name="name" [ngClass]="{'edited':productGroup.productGroupName}" [(ngModel)]="productGroup.productGroupName" required>
                        <label>{{l("Product group name")}} <required_field></required_field></label>
                    </div>                   
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>{{l("Product Family")}}</label>
                        <ng-select [active]="active_family" [allowClear]="true" [items]="productFamily" (selected)="selectedFamily($event)" (removed)="removeFamily($event)" placeholder="Select Product Family">
                        </ng-select>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>{{l("Product Category")}}</label>
                        <ng-select [active]="active_category" [allowClear]="true" [items]="productCategory" (selected)="selectedCategory($event)" (removed)="removeCategory($event)" placeholder="Select Product Category">
                        </ng-select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!createProductGroupForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
            </tab>
            <tab heading="ProductGroup Details" *ngIf="productGroup.id">
                <form #addproductGroupForm="ngForm" novalidate (ngSubmit)="productGroupSave()">
                  <div class="modal-body">                      
                        <button type="button" *ngIf="attributeGroupDetails.length" class="btn btn-circle btn-icon-only " (click)="resetOrder()" style="left: 90%;margin-top: -27px;"><i class="fa fa-refresh"></i></button>
                        <div class="portlet-body">
                            <div class="list-group desk-items" [dragula]='"product-bag"' data-type="status">
                                <a *ngFor="let attributeGroup of attributeGroupDetails; let j=index;" href="javascript:;" class="list-group-item deskItem" style="padding: 2px 5px 1px 5px;" [attr.data-currId]="j" [attr.data-rowId] ="attributeGroup.rowId">
                                    <div class="speci_list">
                                    <h4 class="list-group-item-heading" style="margin: 0px;">
                                        <div class="col-md-6"><h5>{{attributeGroup.name}}</h5></div>
                                        <div class="col-md-6">
                                        <button type="button" (click)="expand_group(j)" title="{{l('Expand')}}" class="btn btn-circle btn-icon-only blue text-right" style="left:72%;width: 30px;height: 30px;">
                                            <i class="fa fa-th-list"></i>
                                        </button>                                     
                                        <button type="button" [disabled]="!productGroup.isEditable" (click)="deleteAttributeGroup(attributeGroup)" title="{{l('Delete')}}" class="btn btn-circle btn-icon-only red delete-person text-right" href="javascript:;" style="left:72%;width: 30px;height: 30px;">
                                            <i class="icon-trash"></i>
                                        </button>
                                        </div>
                                    </h4>
                                    </div>
                                    <div>
                                    <table class="table table-bordered" *ngIf="expand && j==expand_index" style="margin-top: 10px;">
                                        <thead>
                                            <th style="width:40px;">SI.No</th>
                                            <th style="text-align:center;">Product Attribute</th>
                                        </thead>
                                        <tbody>
                                            <tr style="background: rgba(214, 214, 214, 0.78);" *ngFor="let att_group of attributeGroup.productDetails; let i=index;">
                                               <td style="text-align:center;">{{i+1}}</td> 
                                               <td style="text-align:center;">{{att_group.attributeName }}({{att_group.attributeCode}}) <img *ngIf="att_group.imgPath" style="float:right;" src="{{path+att_group.imgPath}}" width="180" height="20" ></td> 
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </a>
                            </div>

                        </div>

                    <div class="row">
                        <div class="col-md-6">
                            <ng-select [active]="active_attribute_group" [disabled]="!productGroup.isEditable" [allowClear]="true" [items]="attributeGroup" (selected)="selectedProductGroup($event)" (removed)="removeProductGroup($event)" placeholder="Select Group">
                            </ng-select>
                        </div>
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-2">
                            <button type="submit" style="left:27%;" [disabled]="!attributeGroupInput.attributeGroupId" class="btn btn-circle btn-icon-only blue"><i class="fa fa-floppy-o"></i></button>
                        </div>
                        
                    </div>
                  </div>    
                </form>
            </tab>
            </tabset>
        </div>
    </div>
</div>