<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" style="width: 52%;">
        <div class="modal-content">
               
            <form *ngIf="active" #createquatationForm="ngForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span *ngIf="views.id">{{l("Edit view")}}: {{views.name}}</span>
                        <span *ngIf="!views.id">{{l("Create view")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input #nameInput class="form-control" type="text" name="name" [ngClass]="{'edited':views.name}" [(ngModel)]="views.name" required>
                        <label>{{l("Name")}}  <required_field></required_field></label>
                   </div>

                   <!-- <div  style="margin-top: 10px;">
                        <label>{{l("Select Columns")}}</label>
                        <ng-multiselect-dropdown 
                        name="multiselect"
                        [placeholder]="'Select Columns'"
                        [data]="cities"
                        [(ngModel)]='selectedItems' 
                        [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)"
                        (click)="onListAll(selectedItems)"
                        >
                  </ng-multiselect-dropdown>
               </div>   
                <div class="row" style="margin-top: 10px;">
                <div class="col-md-4">
                <label>Person</label>
                    <ng-select [active]="active_person" [allowClear]="true" [items]="person" (selected)="selectperson($event)" (removed)="removeperson($event)" placeholder="Nothing is Selected">
                    </ng-select>
                </div>    
                <div class="col-md-4" *ngIf="!IsEquiry">
                <label>Status</label>
                    <ng-select [active]="active_status" [allowClear]="true" [items]="status" (selected)="selectstatus($event)" (removed)="removestatus($event)" placeholder="Nothing is Selected">
                    </ng-select>
                </div>
                 <div class="col-md-4" *ngIf="IsEquiry">
                <label>Status</label>
                    <ng-select [active]="active_enq" [allowClear]="true" [items]="enqStatus" (selected)="selectenq($event)" (removed)="removeenq($event)" placeholder="Nothing is Selected">
                    </ng-select>
                </div>        
                <div class="col-md-4">
                <label>Duration</label>
                    <ng-select [active]="active_filter" [allowClear]="true" [items]="dfilter" (selected)="selectdate($event)" (removed)="removedate($event)" placeholder="Nothing is Selected">
                    </ng-select>
                </div>    
                </div>  
               
                <div class="row" style="margin-top: 10px;">
                <div class="col-md-6">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                 <input #nameInput class="form-control" type="text" name="min" [ngClass]="{'edited':views.lessAmount}" [(ngModel)]="views.lessAmount">
                 <label>{{l("Min Value")}} </label>
                </div> 
                </div>       
                <div class="col-md-6">
                  <div class="form-group form-md-line-input form-md-floating-label no-hint">
                 <input #nameInput class="form-control" type="text" name="max" [ngClass]="{'edited':views.graterAmount}" [(ngModel)]="views.graterAmount">
                 <label>{{l("Max Value")}} </label>
                </div>  
                </div>  
                </div> -->    
                </div>             
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="button" class="btn btn-primary blue" (click)="save()" [disabled]="!createquatationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
           
        </div>
    </div>
</div>
