<div [@routerTransition]>
    <div class='media-body'>
    <div class="row margin-bottom-5">
        <div class="col-xs-5">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>Forecast</span> <small>Kanban </small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
          
            <my-monthpicker id="monthPickerval" name="monthpicker" value={{closureDate}} (dateChange)="onDateChange($event)"></my-monthpicker>        </div>
        
    </div> 
   </div>    
   <div [busyIf]="loading" class='wrapper'>
     <div class='dndcontainer' *ngFor='let group of groups'>
         <div class="itemHead">
           <h5><b>{{group.monthName}} ({{group.getTicketReservation.length}})</b><b style="float: right;" *ngIf="group.totalValueformat !='0'"> {{group.totalValueformat}}</b></h5> 
            </div>
            <div id="style-1" class="desk-items" [dragula]='"nested-bag"' [attr.data-type]="non-status" [attr.data-updateDate]="group.currentDate" *ngIf="isGranted('Pages.Tenant.Enquiry.Enquiry.Create')" >
                <a id="cart" *ngFor="let item of group.getTicketReservation" [ngStyle]="{'background':item.statusColorCode?item.statusColorCode:'','border-style':item.statusColorCode?'solid':'none','border-width':'0px'}" [attr.data-itemId]="item.id" [attr.data-type]="non-status" class="deskItem">
                   
                    <div class="ddns">
                            <small style="font-weight: 600">{{item.companyName}}</small><br>
                            <small style="color: black;font-size: 12px;font-weight: 400;">{{item.mileStoneName}}</small>
                      
                        <p class="ddns"> 
                            {{item.subMmissionId}}-
                             <small  style="font-weight: 400;" class="name">{{item.name}}</small><br>
                            </p>
                       
                        <small class="ddns" *ngIf="item.teamName"> {{item.teamName}} ({{item.departmentName}})</small>   
                        <small style="color: darkblue;font-size: 10px;font-weight: 600;">{{item.estimationValueformat}}</small>                    
                        <span style="font-size: 12px;">{{item.address}}</span>
                        
                        <p>
                            <img *ngIf="item.assignedbyImage"  class="img-circle" height="20" id="HeaderProfilePicture" style="border: 1px solid #e0e6ec;float: right;margin-left: 10px" width="20"  tooltip="{{item.salesMan}}" src="{{item.assignedbyImage}}">
                            <img *ngIf="item.designerImage"  class="img-circle" height="20" id="HeaderProfilePicture" style="border: 1px solid #e0e6ec;float: right;margin-left: 10px" width="20"  tooltip="{{item.designerName}}" src="{{item.designerImage}}">                  
                            <small  style="background: #fff;padding: 2px;border: 1px solid #000;border-radius: 3px;" class="statusmessage">{{getTime(item.creationTime| amTimeAgo:true)}}</small>
                            <small   style="background: #fff;padding: 2px;border: 1px solid #000;border-radius: 3px;cursor: pointer;" class="statusmessage">{{item.percentage}} %</small>
                            <i style="color: green;" *ngIf="item.isExpire == true" class="fa fa-exclamation-triangle"></i>
                            
                        </p>
                    </div>
                   
                </a>               
            </div>
         
            <div class="desk-items" [attr.data-type]="non-status" [attr.data-updateDate]="group.currentDate" *ngIf="!isGranted('Pages.Tenant.Enquiry.Enquiry.Create')">
                    <a id="cart" *ngFor="let item of group.getTicketReservation" [ngStyle]="{'background':item.statusColorCode?item.statusColorCode:'','border-style':item.statusColorCode?'solid':'none','border-width':'0px'}" [attr.data-itemId]="item.id" [attr.data-type]="non-status" class="deskItem">
                        
                        <div class="row">
                            <div class="col-sm-8 sourceInd">
                                    <span *ngFor='let src of item.activityColors' data-placement="bottom"  tooltip="{{src.activityName}}" [ngStyle]="{'background-color': src.activityColors,'cursor':'pointer'}">{{src.activityCount}}</span>                                
                            </div>
                            <div class="col-sm-4">
                                    <small class="pull-right">{{getTime(item.creationTime| amTimeAgo)}}</small>
                                </div>                       
                        </div>
                        <div>
                            <p style="font-weight: 600">{{item.companyName}}</p>
                            <p style="font-size: 12px;" class="name">{{item.name}}</p>
                            <small>{{item.departmentName}}</small>                      
                            </div>
                    </a>

            </div>
                  
        </div>
           
    </div>

    <createInquiryModal #createInquiryModal (modalSave)="getTickets()">
    </createInquiryModal>
    
</div> 

<router-outlet (deactivate)="kanbanActivate($event)"></router-outlet>