<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #createpricelevelForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span *ngIf="price_level.id">{{l("Edit Price Level")}}: {{price_level.priceLevelName}}</span>
                        <span *ngIf="!price_level.id">{{l("Create New Price Level")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input #nameInput class="form-control" type="text" name="code" [ngClass]="{'edited':price_level.priceLevelCode}" [(ngModel)]="price_level.priceLevelCode" required>
                        <label>{{l("PriceLevelCode")}}  <required_field></required_field></label>

                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="name" [ngClass]="{'edited':price_level.priceLevelName}" [(ngModel)]="price_level.priceLevelName" required>
                        <label>{{l("PriceLevelName")}}  <required_field></required_field></label>
                    </div>

                    <div class="form-group">
                        <div class="md-checkbox-list" style="display:flex;margin-top: 35px;">
                            <div class="md-checkbox" style="padding-right:30px;">
                                <input id="Edit_price_level" class="md-check" type="checkbox" name="discount" [(ngModel)]="price_level.discountAllowed" >
                                <label for="Edit_price_level">
                                   <span class="inc"></span>
                                  <span class="check"></span>
                                <span class="box"></span>
                                Discount
                               </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!createpricelevelForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>