<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #createsourceForm="ngForm" novalidate (ngSubmit)="save(createsourceForm)">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close(createsourceForm)" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span *ngIf="source.id">{{l("Edit Source")}}: {{source.sourceName}}</span>
                        <span *ngIf="!source.id">{{l("Create New Source")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input #nameInput class="form-control" type="text" name="code" [ngClass]="{'edited':source.sourceCode}" [(ngModel)]="source.sourceCode" required>
                        <label>{{l("Source Code")}} <required_field></required_field></label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="name" [ngClass]="{'edited':source.sourceName}" [(ngModel)]="source.sourceName" required>
                        <label>{{l("Source Name")}} <required_field></required_field></label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>Source Type <required_field></required_field></label>
                        <ng-select [active]="active_source" [allowClear]="true" [items]="source_types" (selected)="doSomething($event)" (removed)="removeSource($event)" placeholder="Nothing is selected">
                        </ng-select>
                        <!--<select #cityCombobox id="yourDropDownElementId" name="sourceType" class="form-control" [(ngModel)]="SelectedSource" [attr.data-live-search]="true" (change)="doSomething(SelectedSource)" jq-plugin="selectpicker" required>
                            <option [value]="SelectedTypeId">{{SelectedTypeName}}</option> 
                            <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option> 
                        </select>-->
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="colorcode" [ngClass]="{'edited':source.colorCode}" [(ngModel)]="source.colorCode" required>
                        <label>Color Code <required_field></required_field></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close(createsourceForm)">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!createsourceForm.form.valid || !source.typeId" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>