.product-img{
	border: 1px solid #eee;
    padding: 24px;
}
.modal_processing{
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}
.loader {
    margin-top: 28%;
    margin-left: 51%;
    animation: spin 3s linear infinite;
    color: #fff;
    -webkit-animation: spin 2s linear infinite;
}
@-moz-keyframes spin {
    to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
    to {transform:rotate(359deg);}
}
.delete-pic{
    position: relative;
    color: #fff;
    top: 3px;
    bottom: 10px;
    background: #0C0C0C;
}
.imgCont{
    /*padding: 54px;*/
    border: 1px solid #eee;
    height: 218px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.img-product{
    width: 100%;
    height: auto;
    border: 1px solid #eee;
    margin-bottom: -20px;
    margin-top: 10px;  
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 150px;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    padding-right: 28px;
    margin-top: 10px;}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #36c6d3;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #29959e;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #36c6d3;    }

    #style-1::-webkit-scrollbar-track {
        border-radius: 10px;           
    }
    #style-1::-webkit-scrollbar {
        width: 8px;
        background-color: #e4e5e9;
    } 

    .list-group-item-heading > button.delete-person {
            float: right;
            margin-right: 10px;
        }
    .list-group-item-heading > button.edit-person {
            float: right;
        }
    .table-phones {
        display: none;
    }
    
    .person-editing {
        background-color: #ccffcc;
    }
        .person-editing > h4 {
            font-weight: bold;
        }
    
        .person-editing.table-phones {
            display: table;
        }
    
        .person-editing :hover {
            background-color: #ccffcc;
        }
    