<div [@routerTransition]>
    <div class='media-body'>
    <div class="row margin-bottom-5">
        <div class="col-xs-4">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>Marketing</span> <small>Kanban </small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <div class="col-xs-8">
                    <form>
                        <div class="input-group">
                            <input [(ngModel)]="filterText" (keyup)="getSearch(1)" name="filterText" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">

                            <span class="input-group-btn" style="vertical-align: top;">
                        <button (click)="getTickets(filterText)" class="btn btn-secondary" type="submit" title="clear"><i class="icon-magnifier"></i></button>

                    </span>

                        </div>
                    </form>
                </div>
                <div class="col-xs-4">
                    <button (click)="getSearch(2)" class="btn btn-secondary" *ngIf="isShow" style="right: 26px;"><i class="fa fa-remove"></i></button>
                </div>
            </div>
        </div>
        <div class="col-xs-4 text-right">
            <button *ngIf="isGranted('Pages.Tenant.Enquiry.Enquiry.Create')" (click)="createInquiry()" class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("Create New")}}</button>
            <a *ngIf="isGranted('Pages.Tenant.Enquiry.Enquiry.Gridview')" class="btn btn-primary blue" [routerLink]="['/app/main/enquiry']"><i class="fa fa-list"></i>{{l("Grid View")}} </a>        </div>
    </div>    </div>    
    <div class='wrapper' [busyIf]="loading">
        <div class='dndcontainer' *ngFor='let group of groups'>
            <div class="itemHead">
                <h5><b>{{group.name}} ({{group.getTicketReservation.length}})</b>
                    <b style="float: right;" *ngIf="group.total != '0'">{{group.total}}</b>
                </h5>
            </div>
            <div id="style-1" class="desk-items" [dragula]='"nested-bag"' [attr.data-type]="non-status" [attr.data-milestoneId]="group.statusId" [attr.data-milestoneName]="group.name" *ngIf="isGranted('Pages.Tenant.Enquiry.Enquiry.Create')" >
                <a id="cart" *ngFor="let item of group.getTicketReservation" [ngStyle]="{'background':item.statusColorCode?item.statusColorCode:'','border-style':item.statusColorCode?'solid':'none','border-width':'0px'}" [attr.data-StageName]="item.statusName" [attr.data-itemId]="item.id" [attr.data-companyId]="item.companyId" [attr.data-contactId]="item.contactId" [attr.data-designationId]="item.designationId" [attr.data-designationName]="item.designationName" [attr.data-type]="non-status" class="deskItem">
                    <div [routerLink]="['/app/main/kanban/',item.id]">
                    <div class="row">
                        <div class="col-sm-8 sourceInd">
                            <span *ngFor='let src of item.activityColors' data-placement="bottom"  tooltip="{{src.activityName}}" [ngStyle]="{'background-color': src.activityColors,'cursor':'pointer' ,'color': getColor(src.activityColors)}">{{src.activityCount}}</span>      
                          </div>
                        <div class="col-sm-4">
                                <small class="pull-right">{{item.creationTime| amTimeAgo}}</small>
                            </div>                       
                    </div>
                    <div>
                        <p style="font-weight: 600">{{item.companyName}}</p>
                        <p style="font-size: 12px;">{{item.name}}</p>
                        <small *ngIf="item.teamName"> {{item.teamName}} ({{item.departmentName}})</small>   
                        <small style="color: darkblue;font-size: 10px;font-weight: 600;">{{item.estimationValueformat}}</small>                    
                    </div>
                    </div>
                   <a style="color: black;font-size: 8px;" class="btn green-haze btn-outline btn-circle btn-sm" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false" (click)="changeStage(item.id,group.statusId,group.name,item.statusName)"> 
                        <span style="padding: 5px;">{{item.statusName}}</span>
                        <span style="padding: 5px;">{{item.percentage}} %</span>
                         <i class="fa fa-angle-down"></i>
                     </a>
                </a>               
            </div>
        </div>
        <div class='container' style="position: fixed; left:0; right:0px;top: 0px; width: 350px;z-index: 999;height: 75px;background: transparent;" *ngIf="isJunk">
            <div [dragula]='"nested-bag"' data-milestoneName='junk' style="width: 350px;height: 75px;">
                <img src="assets/common/images/bin.png" style="position: absolute;left: 143px;top: 15px;width: 38px;" />
                <span style="position:absolute; right:85px; top:20px;background: #fff;" class="btn" (click)="onToggleJunk(isJunk)">
                    <i class="fa fa-close"></i>
                    </span>
            </div>
        </div>     
    </div>

    <!-- <createInquiryModal #createInquiryModal (modalSave)="getTickets()">
    </createInquiryModal> -->
    <selectDepartmentModal #selectDepartmentModal (modalSave)="getTickets('')">
    </selectDepartmentModal>
    <selectStageModal #selectStageModal (modalSave)="getTickets('')">
    </selectStageModal>
</div> 

<router-outlet (deactivate)="kanbanActivate($event)"></router-outlet>