<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #createCompanyForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <!--<span *ngIf="company.id">{{l("EditCompany")}}: {{company.cityName}}</span>-->
                        <span>{{l("CreateCompany")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div *ngIf="!company.id">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input #nameInput class="form-control" type="text" name="name" [ngClass]="{'edited':company.name}" [(ngModel)]="company.name" required>
                                    <label>{{l("CompanyName")}}</label>
                                </div>
                            </div>
                            <!--<div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <ng-select id="select" [active]="active_tagCompany" [allowClear]="true" [items]="companies" [disabled]="companyEnable" (selected)="selectedCompany($event)" (removed)="removedCompany($event)" (typed)="typedCompany($event)" placeholder="No Company selected">
                                    </ng-select>
                                    <i *ngIf="CompanyText" style="top: 35px;left: 570px;position: absolute; z-index: 1000;color:green;" class="fa fa-plus-circle" aria-hidden="true" (click)="saveCompany()" title="Update"></i>
                                    <label>{{l("CompanyName")}}</label>
                                </div>
                            </div>-->
                            <!--<div class="col-md-6" style="margin-top:20px;">
                                
                                    <label>City</label>
                                    <ng-select [active]="active_location" [allowClear]="true" [items]="location" [disabled]="companyEnable" (selected)="selectedLocation($event)" (removed)="removedLocation($event)" (typed)="typedLocation($event)" placeholder="No Location selected">
                                    </ng-select>
                                    <i *ngIf="LocText" style="top: 34px;left: 392px;position: absolute; z-index: 1000;color:green;" class="fa fa-plus-circle" aria-hidden="true" (click)="saveLocation()" title="Update"></i>
                                   <select #cityCombobox id="yourDropDownElementId" name="city" class="form-control" [(ngModel)]="Selectedcity" [attr.data-live-search]="true" (change)="doSomethingcity(Selectedcity)" jq-plugin="selectpicker" required>
                            <option [value]="SelectedCityId">{{SelectedCityName}}</option> 
                            <option *ngFor="let city of citys" [value]="city.id">{{city.name}}</option> 
                        </select>
                                
                            </div>-->
                            <div class="col-md-6" >
                                
                                    <label>Customer Type</label>
                                    <ng-select [active]="active_ctype" [allowClear]="true" [items]="custType" (selected)="doSomethingType($event)" placeholder="No Line of Business selected">
                                    </ng-select>
                                    <!--<select #accountCombobox id="yourDropDownElementId" name="type" class="form-control" [(ngModel)]="SelectedType" [attr.data-live-search]="true" (change)="doSomethingType(SelectedType)" jq-plugin="selectpicker" required>
                            <option [value]="SelectedCustomerTypeId">{{SelectedCutomerTypeName}}</option> 
                            <option *ngFor="let type of types" [value]="type.customerTypeId">{{type.customerTypeName}}</option> 
                        </select>-->
                                
                            </div>
                        </div>
                       <!-- <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input #nameInput class="form-control" type="text" name="Email" [ngClass]="{'edited':company.email}" [(ngModel)]="company.email" required>
                                    <label>{{l("Email")}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input #nameInput class="form-control" type="text" name="PhNo" [ngClass]="{'edited':company.phoneNo}" [(ngModel)]="company.phoneNo" required>
                                    <label>{{l("PhNo")}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input #nameInput class="form-control" type="text" name="address" [ngClass]="{'edited':company.address}" [(ngModel)]="company.address" required>
                                    <label>{{l("Address")}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input #nameInput class="form-control" type="text" name="fax" [ngClass]="{'edited':company.fax}" [(ngModel)]="company.fax" required>
                                    <label>{{l("Fax")}}</label>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input #nameInput class="form-control" type="text" name="mblno" [ngClass]="{'edited':company.mob_No}" [(ngModel)]="company.mob_No" required>
                                    <label>{{l("MobileNumber")}}</label>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top:20px;">
                                
                                    <label>AccountHandler</label>
                                    <ng-select [active]="active_accHand" [allowClear]="true" [items]="AccountHandler" (selected)="doSomethingAccount($event)" placeholder="No Account handler selected">
                                    </ng-select>
                                    <select #accountCombobox id="yourDropDownElementId" name="accountHandler" class="form-control" [(ngModel)]="SelectedAccount" [attr.data-live-search]="true" (change)="doSomethingAccount(SelectedAccount)" jq-plugin="selectpicker" required>
                            <option [value]="SelectedAccountId">{{SelectedAccountName}}</option> 
                            <option *ngFor="let accountHandler of AccountHandlers" [value]="accountHandler.id">{{accountHandler.name}}</option> 
                                </select>
                            </div>
                        </div>-->
                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                            <button type="submit" class="btn btn-primary blue" [disabled]="!createCompanyForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                        </div>
                    </div>
                    <!--<tabset class="tab-container tabbable-line" *ngIf="company.id">
                        <tab heading="Details">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input #nameInput class="form-control" type="text" name="code" [ngClass]="{'edited':company.companyCode}" [(ngModel)]="company.companyCode" required>
                                        <label>{{l("CompanyCode")}}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input #nameInput class="form-control" type="text" name="name" [ngClass]="{'edited':company.companyName}" [(ngModel)]="company.companyName" required>
                                        <label>{{l("CompanyName")}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <label>City</label>
                                        <select #cityCombobox id="yourDropDownElementId" name="city" class="form-control" [(ngModel)]="Selectedcity" [attr.data-live-search]="true" (change)="doSomethingcity(Selectedcity)" jq-plugin="selectpicker" required>
                            <option [value]="SelectedCityId">{{SelectedCityName}}</option> 
                            <option *ngFor="let city of citys" [value]="city.id">{{city.name}}</option> 
                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <label>Customer Type</label>
                                        <select #accountCombobox id="yourDropDownElementId" name="type" class="form-control" [(ngModel)]="SelectedType" [attr.data-live-search]="true" (change)="doSomethingType(SelectedType)" jq-plugin="selectpicker" required>
                            <option [value]="SelectedCustomerTypeId">{{SelectedCutomerTypeName}}</option> 
                            <option *ngFor="let type of types" [value]="type.customerTypeId">{{type.customerTypeName}}</option> 
                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input #nameInput class="form-control" type="text" name="Email" [ngClass]="{'edited':company.email}" [(ngModel)]="company.email" required>
                                        <label>{{l("Email")}}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input #nameInput class="form-control" type="text" name="PhNo" [ngClass]="{'edited':company.phoneNo}" [(ngModel)]="company.phoneNo" required>
                                        <label>{{l("PhNo")}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input #nameInput class="form-control" type="text" name="address" [ngClass]="{'edited':company.address}" [(ngModel)]="company.address" required>
                                        <label>{{l("Address")}}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input #nameInput class="form-control" type="text" name="fax" [ngClass]="{'edited':company.fax}" [(ngModel)]="company.fax" required>
                                        <label>{{l("Fax")}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input #nameInput class="form-control" type="text" name="mblno" [ngClass]="{'edited':company.mob_No}" [(ngModel)]="company.mob_No" required>
                                        <label>{{l("MobileNumber")}}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <label>AccountHandler</label>
                                        <select #accountCombobox id="yourDropDownElementId" name="accountHandler" class="form-control" [(ngModel)]="SelectedAccount" [attr.data-live-search]="true" (change)="doSomethingAccount(SelectedAccount)" jq-plugin="selectpicker" required>
                            <option [value]="SelectedAccountId">{{SelectedAccountName}}</option> 
                            <option *ngFor="let accountHandler of AccountHandlers" [value]="accountHandler.id">{{accountHandler.name}}</option> 
                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                                <button type="submit" class="btn btn-primary blue" [disabled]="!createCompanyForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                            </div>
                        </tab>
                        <tab heading="Contacts ({{contacts.length}})">
                            <div class="list-group">
                                <div class="modal-header" style="margin-top: -30px;">
                                    <h4 class="modal-title">
                                        <button type="button" class="btn btn-primary blue pull-right" (click)="createContact(company.id)"><i class="fa fa-plus"></i>{{l("CreateNew")}}</button>
                                    </h4>
                                </div>
                                <div class="list-group-item" *ngFor="let contact of contacts">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-1">
                                                <img src="/assets/common/images/Contacts.png" style="height:70px;width:65px;align-content:center;" class="img-rounded" />
                                            </div>
                                            <div class="col-md-11">
                                                <h3 class="list-group-item-heading" style="color:blue">
                                                    {{contact.contactPersonName}}<br />
                                                    <span style="float:right;">
                                                       <button type="button" *ngIf="isGranted('Pages.Tenant.Geography.Country.Edit')" (click)="editContact(company.id,contact.id)" title="{{l('Edit')}}" class="btn btn-circle btn-icon-only green edit-person">
                                                       <i class="icon-pencil"></i>
                                                       </button>
                                                       <button type="button" *ngIf="isGranted('Pages.Tenant.Geography.Country.Delete')" (click)="deleteContact(contact)" title="{{l('Delete')}}" class="btn btn-circle btn-icon-only red delete-person" href="javascript:;">
                                                       <i class="icon-trash"></i>
                                                       </button>
                                                    </span>
                                                </h3>

                                                <h4 class="list-group-item-heading" style="color:green">
                                                    Phone : {{contact.work_No}}<br />
                                                </h4>


                                                <h5 class="list-group-item-heading" style="color:green">
                                                    Mail : {{contact.email}}<br />
                                                </h5>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>-->
                </div>
            </form>
        </div>
    </div>
    <!--<createCompanyContactModal #createCompanyContactModal (modalSave)="getContacts(company.id)">
    </createCompanyContactModal>-->
</div>