<div class="container" style="width:100%;background: #fff;margin-bottom: 25px;" >
    <form *ngIf="active" [formGroup]="myForm" novalidate>
        <div class="modal-header">
            <button type="button" class="close" (click)="close(myForm)" aria-label="Close" >
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
                <span *ngIf="inquiry.id">{{l("Edit Inquiry")}}: {{inquiry.name}}</span>
                <span *ngIf="!inquiry.id">{{l("Create Sales Lead")}}</span>
            </h4>
        </div>
        <div>
            <div class="modal-body">
               <div class="row">
                   <div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                  <input #nameInput class="form-control" type="text" name="code" [ngClass]="{'edited':inquiry.name}" [(ngModel)]="inquiry.name" [ngModelOptions]="{standalone: true}" required>
                                   <label>{{l("Title Of Enquiry")}} <required_field></required_field></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                   <label>Stage <required_field></required_field></label>
                                   <ng-select id="select" [active]="active_status" [allowClear]="true" [items]="statuses" [disabled]="companyEnable" (selected)="selectedStatus($event)" (removed)="removedStatus($event)" placeholder="Select Status">
                                   </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Summary of Requirement</label>
                                    <textarea class="form-control" placeholder="Requirement" style="height: 50px;" name="summary" [ngClass]="{'edited':inquiry.summary}" [(ngModel)]="inquiry.summary" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                            <div class="col-md-6">
                                    <label>Remarks <required_field></required_field></label>
                                    <textarea class="form-control" placeholder="Message" style="height: 50px;" name="ProblemReported" [ngClass]="{'edited':inquiry.remarks}" [(ngModel)]="inquiry.remarks" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                                <label>Project Location</label>
                                    <ng-select [active]="active_location" [allowClear]="true" [items]="location" (selected)="selectedLocation($event)" (removed)="removedLocation($event)" (typed)="typedLocation($event)" placeholder="No Location Selected">
                                    </ng-select>
                            </div>
                            <div class="col-md-6">
                                <label>Why Bafco</label>
                                    <ng-select [active]="active_whybafco" [allowClear]="true" [items]="whybafco"  (selected)="selectedWhyBafco($event)" (removed)="removedWhyBafco($event)"  placeholder="Why Bafco">
                                    </ng-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Company <required_field></required_field></label>
                                        &nbsp;<span style="color:red;" *ngIf="CompanyDuplicate && companyDetailsDto.salesManId > 0 "> ( This Company Allotted To {{companyDetailsDto.salesMan}} <i  class="fa fa-exclamation"></i> )</span>
                                       <span style="color:red;" *ngIf="CompanyDuplicate && companyDetailsDto.salesManId == 0"> ( This Company Already Exists <i  class="fa fa-exclamation"></i> )</span>
                                <ng-select id="select" [active]="active_tags" [allowClear]="true" [items]="companies" [disabled]="companyEnable" (selected)="selectedCompany($event)" (removed)="removedCompany($event)" (typed)="typedCompany($event)" placeholder="No Company selected">
                                </ng-select>
                             </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="email" name="cemail" [ngClass]="{'edited':inquiry.cEmail}" [(ngModel)]="inquiry.cEmail"  [ngModelOptions]="{standalone: true}" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" required>
                                    <label>{{l("Company Email")}} <required_field></required_field></label>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input #nameInput class="form-control" type="text" name="clandlineNumber" [ngClass]="{'edited':inquiry.cLandlineNumber}" [(ngModel)]="inquiry.cLandlineNumber" [ngModelOptions]="{standalone: true}">
                                    <label>{{l("Company Phonenumber")}} <required_field></required_field></label>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="form-group form-md-line-input form-md-floating-label no-hint" >
                                    <input class="form-control" type="text" name="cmblno" [ngClass]="{'edited':inquiry.cMbNo}" [(ngModel)]="inquiry.cMbNo"  [ngModelOptions]="{standalone: true}" required>
                                    <label>{{l("Website")}}</label>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <label>Industry</label>
                                    <ng-select [active]="active_indus" [allowClear]="true" [items]="indus" [disabled]="disabled_indus" (selected)="refreshIndus($event)" (removed)="removedIndus($event)" placeholder="Select industry">
                                    </ng-select>
                            </div>
                        </div>
                     </div>
                     <div class="col-sm-6 sales-contact-formSection" id="style-1">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <label>Salutation <required_field></required_field></label>
                                <ng-select [active]="active_title" [allowClear]="true" [items]="title"  (selected)="refreshTitle($event,myForm)" (removed)="removedTitle($event,myForm)" placeholder="Title">
                                </ng-select>  
                                <input type="hidden" formControlName="newtitleid" value="">
                            </div> 
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <label>First Name <required_field></required_field></label>
                                    <ng-select [active]="active_fname" [allowClear]="true" [items]="fname"  (selected)="refreshFname($event,fname)" (removed)="removedFname($event)" (typed)="typedFname($event)" placeholder="Name">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <label>Last Name <required_field></required_field></label>
                                    <input type="text" class="form-control" formControlName="lastName">
                                </div>
                            </div> 
                            <div class="col-lg-3 col-md-6">
                                <label>Designation</label>
                                <ng-select [active]="active_desg" [allowClear]="true" [items]="designation"  (selected)="selecteddesc($event)" (removed)="removeddesc($event)" (typed)="typeddesc($event)" placeholder="No Designation selected">
                                </ng-select>
                            </div>  
                        </div>
                        <div class="row">
                                 <div class="col-md-4">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                         <input class="form-control" type="email" name="email" [ngClass]="{'edited':inquiry.email}" [(ngModel)]="inquiry.email"  [ngModelOptions]="{standalone: true}"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" required>
                                         <label>{{l("Email")}}<required_field></required_field></label>                                          
                                        </div>
                                  </div>
                                     <div class="col-md-4">
                                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                         <input class="form-control" type="text" name="mblno" [ngClass]="{'edited':inquiry.mbNo}" [(ngModel)]="inquiry.mbNo"  [ngModelOptions]="{standalone: true}" required>
                                         <label>{{l("MobileNumber")}}<required_field></required_field></label>
                                        </div>
                                 </div>
                                 <div class="col-md-4">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input #nameInput class="form-control" type="text" name="mblno" [ngClass]="{'edited':inquiry.landlineNumber}" [(ngModel)]="inquiry.landlineNumber" [ngModelOptions]="{standalone: true}">
                                        <label>{{l("Phonenumber")}}<!-- <required_field></required_field> --></label>
                                    </div>
                                 </div>  
                         </div>
                        <div formArrayName="contacts" style="margin-top:10px;">
                            <div class=" panel-default" style="padding-top: 5px;">
                                <div class="panel-heading">
                                    <div style="width:40%;">
                                        <span>Contact Details</span>
                                    </div>
                                    <div style="width:1%;float:right">
                                        <a style="cursor: pointer;float:right;text-align:right;margin-top: -18px;position: absolute">
                                           <i style="color:green;" *ngIf="myForm.controls.contacts.valid" (click)="addContacts(1)" class="fa fa-plus-circle" aria-hidden="true" title="Create"> </i>
                                        </a>
                                    </div>
                                </div>
                                  <div class="row">
                                    <div class="col-xs-5"><label></label></div>
                                    <div class="form-group col-xs-7" style="margin-top:5px;"></div>
                                </div>
                                <div *ngFor="let contact of myForm.controls.contacts.controls; let j=index">
                                    <div class="panel-body" [formGroupName]="j" style="padding:10px 0 0 0;">
                                        <contact [group]="myForm.controls.contacts.controls[j]"></contact>
                                            <span style="margin-top: -33px;" class="fa fa-trash-o pull-right" *ngIf="myForm.controls.contacts.controls.length > 1" (click)="removeContacts(j,contact)">
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div formArrayName="addresses">
                            <div class="panel-heading">
                                <div style="width:40%;">
                                    <span>Address Details</span>
                                </div>
                                <div style="width:1%;float:right">
                                  <a style="cursor: pointer;float:right;text-align:right;margin-top: -18px;position: absolute">
                                    <i style="color:green;" *ngIf="myForm.controls.addresses.valid" (click)="addAddress(1)" class="fa fa-plus-circle" aria-hidden="true" title="Create"> </i>
                                  </a>
                                </div>
                            </div>
                            <div class=" panel-default" style="padding-top: 5px;">
                                <div *ngFor="let address_con of myForm.controls.addresses.controls; let i=index">
                                    <div class="panel-body" [formGroupName]="i" style="padding:10px 0 0 0;">
                                      <div>
                                        <address_con [group]="myForm.controls.addresses.controls[i]"></address_con>
                                      </div>
                                      <span style="margin-top: -33px;" class="fa fa-trash-o pull-right" *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i,address_con)">
                                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label>Division <required_field></required_field></label>
                            <ng-select id="select" [disabled]="true" [active]="active_department" [allowClear]="true" [items]="departments" (selected)="selectedDepartment($event)" (removed)="removedDepartment($event)" placeholder="No Division selected">
                            </ng-select>
                        </div>
                        <div class="col-md-4">
                            <label>Team <required_field></required_field></label>
                            <ng-select id="select" [active]="active_team" [allowClear]="true" [items]="teams" [disabled]="!isGranted('Pages.Tenant.Enquiry.SalesEnquiry.Edit.Team')" (selected)="selectedTeam($event)" (removed)="removedTeam($event)" placeholder="No Team selected">
                            </ng-select>
                        </div>
                        <div class="col-md-4" >
                            <label class="mBottom">Assigned To: <required_field></required_field></label>
                            <ng-select [disabled]="!isGranted('Pages.Tenant.Enquiry.SalesEnquiry.Edit.Team') || !this.inquiry.teamId" [active]="active_assigned" [allowClear]="true" [items]="assignedBy" (selected)="selectAssigned($event)" (removed)="removedAssigned($event)"></ng-select>
                        </div>         
                    </div>
                </div>
            </div>
        </div>
    <div class="row" style="background: #e2959545; margin-right: 5px;margin-left: 5px; padding: 10px;margin-top: 10px;">
        <div class="col-md-3">
            <label>Lead Category</label>
                <ng-select [active]="active_leadCategory" [allowClear]="true" [items]="lead_category" (selected)="selectedLeadCategory($event)" (removed)="removedLeadCategory($event)" (typed)="typedLeadCategory($event)" placeholder="Lead Category">
                </ng-select>
        </div>
        <div class="col-md-3">
                <label>Opportunity Source<required_field></required_field></label>
                <ng-select [active]="active_opportunity" [allowClear]="true" [items]="opportunity_source"  (selected)="selectedOpportunitySource($event)" (removed)="removedOpportunitySource($event)"  placeholder="Opportunity Source">
               </ng-select>
        </div> 
        <div class="col-md-3">
            <label>Design</label>
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" [(ngModel)]="designerr" [ngModelOptions]="{standalone: true}" checked>
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="number" name="estimatedValue" [ngClass]="{'edited':inquiry.estimationValue}" [(ngModel)]="inquiry.estimationValue" [ngModelOptions]="{standalone: true}">
                    <label>{{l("Estimated Value")}} <required_field></required_field></label>
            </div>
        </div>
        <div class="col-md-3">
                <label>Co-ordinator</label>
                    <ng-select [active]="active_Coordinator" 
                               [allowClear]="true" 
                               [items]="coordinators" 
                               (selected)="selectedCoord($event)" 
                               (removed)="removedCoord($event)" 
                               (typed)="typedCoord($event)" 
                               (data)="refreshValue($event)"
                               placeholder="Co-ordinator">
                    </ng-select>
        </div> 
        <div class="col-md-3">
            <label>Competitors</label>
                <ng-select [active]="active_Competitors" [allowClear]="true" [items]="competators"  (selected)="selectedCompetitor($event)" (removed)="removedCompetitor($event)" (typed)="typedCompetitor($event)" placeholder="Competitors">
                </ng-select>
        </div> 
        <div class="col-md-3">
            <div>
                <label>Designer</label>
                <ng-select [active]="active_designer" [allowClear]="true" [items]="designers" [disabled]="!designerr" (selected)="selectedDesigner($event)" (removed)="removedDesigner($event)" (typed)="typedDesigner($event)" placeholder="Designer">
                </ng-select>
            </div>  
        </div>
        <div class="col-md-3">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="code" [ngClass]="{'edited':inquiry.size}" [(ngModel)]="inquiry.size" [ngModelOptions]="{standalone: true}">
                <label>{{l("Size")}}</label>
            </div>
        </div>  
        <div class="col-md-3">
            <label>Lead Status</label>
            <ng-select [active]="active_inqleadstatus" (selected)="selectedInqLeadStatus($event)" [items]="InqLeadStatus" placeholder="Lead Status">
            </ng-select>
       </div> 
       <div class="col-md-1">
            <label>Stared</label>
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="staredSwitch" [(ngModel)]="inquiry.stared" [ngModelOptions]="{standalone: true}" checked>
                        <label class="onoffswitch-label" for="staredSwitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                </div>
        </div>
        <div class="col-md-2" *ngIf="inquiry.stared">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="number" name="weightedvalue" [ngClass]="{'edited':inquiry.weightedvalue}" [(ngModel)]="inquiry.weightedvalue" [ngModelOptions]="{standalone: true}" (keydown)="check($event)" (keyup)="checkValue()">
                <label>{{l("Weighted %")}}<required_field></required_field></label>
            </div>
        </div>  
        <div class="col-md-2" *ngIf="!inquiry.stared"></div>
        <div class="col-md-3" style="padding-top: 10px;">
            <label>Expected Closure <required_field></required_field></label>
            <p-calendar showButtonBar="true" id="datetime2" [(ngModel)]="closedDate" [ngClass]="form-control" [ngModelOptions]="{standalone: true}" showButtonPanel="true"></p-calendar>  
        </div> 
        <div class="col-md-3" style="padding-top: 10px;">
            <label>Next Activity <required_field></required_field></label>
            <p-calendar showButtonBar="true" id="datetime" [(ngModel)]="lastActivity" [ngClass]="form-control" [ngModelOptions]="{standalone: true}" showButtonPanel="true"></p-calendar>  
        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn btn-default" (click)="close(myForm)">{{l("Cancel")}}</button>
        <button type="button" class="btn btn-primary blue" [disabled]="isValidInquiry(myForm) || !closedDate || !lastActivity" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="save(myForm)"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>           
     </div>
    </form>

</div>        

<style>
      #style-1::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #2f353b;    }
    
        #style-1::-webkit-scrollbar-track {
            border-radius: 10px;           
        }
        #style-1::-webkit-scrollbar {
            width: 8px;
            background-color: #e0e6ec;
        } 
</style>