<!-- <div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}"> -->
    <div  class="container" style="width:100%;background: #fff;margin-bottom: 25px;" >
            <form *ngIf="active" [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
                <div class="modal-header">
                
                    <button type="button" class="close" (click)="close(myForm)" aria-label="Close" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span *ngIf="inquiry.id">{{l("Edit Inquiry")}}: {{inquiry.name}}</span>
                        <span *ngIf="!inquiry.id">{{l("Create Enquiry")}}</span>
                    </h4>
                </div>
                <div>
                    <div class="modal-body">
					<div class="row">
					<div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input #nameInput class="form-control" type="text" name="code" [ngClass]="{'edited':inquiry.name}" [(ngModel)]="inquiry.name" [ngModelOptions]="{standalone: true}" (change)="CheckInquiryDuplicate(inquiry.name)" required>
                                    <label>{{l("Title Of Enquiry")}} <required_field></required_field>
                                   <span style="color:red;" *ngIf="inquiryDuplicate"> ( This Inquiry Already Exist <i  class="fa fa-exclamation"></i> )</span>
                                </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Stage<required_field></required_field></label>
                                    <ng-select id="select" [active]="active_status" [allowClear]="true" [items]="statuses" [disabled]="companyEnable" (selected)="selectedStatus($event)" (removed)="removedStatus($event)" (keyup)="typedStatus($event)" placeholder="Select Status">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-checkbox-list" style="display:flex;margin-top: 35px;">
                                    <div class="md-checkbox" *ngFor="let Source of Sources" style="padding-right:30px;">
                                        <input id="EditUser_{{Source.sourceId}}" class="md-check" type="checkbox" name="{{Source.sourceId}}" [(ngModel)]="Source.isAssigned" [ngModelOptions]="{standalone: true}">
                                        <label attr.for="EditUser_{{Source.sourceId}}">
                               <span class="inc"></span>
                              <span class="check"></span>
                            <span class="box"></span>
                            {{Source.sourceName}}
                           </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Company <required_field></required_field></label>
                                <ng-select id="select" [active]="active_tags" [allowClear]="true" [items]="companies" [disabled]="companyEnable" (selected)="selectedCompany($event)" (removed)="removedCompany($event)" (keyup)="typedCompany($event)" placeholder="No Company selected">
                                </ng-select>
                                <!--<i *ngIf="CompanyText" style="top: 35px;left: 520px;position: absolute; z-index: 1000;color:green;" class="fa fa-plus-circle" aria-hidden="true" (click)="saveCompany()" title="Update"></i>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="margin-top: 15px;">
                                <div  class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="email" name="email" [ngClass]="{'edited':inquiry.cEmail}" [(ngModel)]="inquiry.cEmail"  [ngModelOptions]="{standalone: true}" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" required>
                                    <label>{{l("Company Email")}} <required_field></required_field></label>
                                </div> 
                            
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" name="landlineNumber" [ngClass]="{'edited':inquiry.cLandlineNumber}"  [(ngModel)]="inquiry.cLandlineNumber" [ngModelOptions]="{standalone: true}" required>
                                    <label>{{l("Company Phonenumber")}} <required_field></required_field></label>
                                </div>	
                            
                                <div  class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" name="mbNo" [ngClass]="{'edited':inquiry.cMbNo}" [(ngModel)]="inquiry.cMbNo" [ngModelOptions]="{standalone: true}">
                                    <label>{{l("Website")}}</label>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <label>Designation</label>
                                <ng-select [active]="active_desg" [allowClear]="true" [items]="designation" [disabled]="disabled" (selected)="selecteddesc($event)" (removed)="removeddesc($event)" (typed)="typeddesc($event)" placeholder="No Designation selected">
                                </ng-select>
                            </div> -->
                            <div class="col-md-6" style="margin-top: 10px;">
                                <label>Project Location</label>
                                <ng-select [active]="active_location" [allowClear]="true" [items]="location" (selected)="selectedLocation($event)" (removed)="removedLocation($event)" (keyup)="typedLocation($event)" placeholder="No Location Selected">
                                </ng-select>
                            </div>
                            <div class="col-md-6" style="margin-top: 16px;">
                                <label>Why Bafco</label>
                                <ng-select [active]="active_whybafco" [allowClear]="true" [items]="whybafco"  (selected)="selectedWhyBafco($event)" (removed)="removedWhyBafco($event)"  placeholder="Why Bafco">
                                </ng-select>
                            </div>
                        </div>
						</div>
						<div class="col-sm-6 contact-formSection" id="style-1">
                        <div class="row">
                        <div class="col-lg-3 col-md-6">
                                <label>Salutation <required_field></required_field></label>
                        <ng-select [active]="active_title" [allowClear]="true" [items]="title" [disabled]="disabled" (selected)="refreshTitle($event,myForm)" (removed)="removedTitle($event,myForm)" placeholder="No Title selected" required>
                        </ng-select>

                        <input type="hidden" formControlName="newtitleid" value="">
                    </div> 
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label>First Name <required_field></required_field></label>
                            <ng-select [active]="active_fname" [allowClear]="true" [items]="fname" [disabled]="disabled" (selected)="refreshFname($event,fname)" (removed)="removedFname($event)" (keyup)="typedFname($event)" placeholder="No Name selected">
                        </ng-select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group">
                            <label>Last Name <required_field></required_field></label>
                            <input type="text" class="form-control" formControlName="lastName">
                        </div>
                    </div>
                    <!-- <div class="col-xs-3">
                        <label>Industry <required_field></required_field></label>
                        <ng-select [active]="active_indus" [allowClear]="true" [items]="indus" [disabled]="disabled_indus" (selected)="refreshIndus($event)" (removed)="removedIndus($event)" (typed)="typedIndus($event)" placeholder="Select industry">
                        </ng-select>
                    </div>     -->
                    <div class="col-lg-3 col-md-6">
                        <label>Designation</label>
                        <ng-select [active]="active_desg" [allowClear]="true" [items]="designation" [disabled]="disabled" (selected)="selecteddesc($event)" (removed)="removeddesc($event)" (typed)="typeddesc($event)" placeholder="No Designation selected">
                        </ng-select>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input class="form-control" type="email" name="email" [ngClass]="{'edited':inquiry.email}" [(ngModel)]="inquiry.email" ng-required="!inquiry.mbNo" [ngModelOptions]="{standalone: true}"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$">
                            <label>{{l("Email")}} <required_field></required_field></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input class="form-control" type="text" name="mblno" [ngClass]="{'edited':inquiry.mbNo}" [(ngModel)]="inquiry.mbNo" ng-required="!inquiry.email" [ngModelOptions]="{standalone: true}">
                            <label>{{l("Mobile Number")}} <required_field></required_field></label>
                        </div> 
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input #nameInput class="form-control" type="text" name="mblno" [ngClass]="{'edited':inquiry.landlineNumber}" [(ngModel)]="inquiry.landlineNumber" [ngModelOptions]="{standalone: true}">
                            <label>{{l("Phone Number")}}</label>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-xs-12">

                        <label>Contact Type <required_field></required_field></label>
                        <ng-select [active]="active_customer" [items]="companytypes" [allowClear]="true" (data)="refreshValue($event,myForm)" placeholder="No Contact Type selected">
                        </ng-select>
                        <input type="hidden" formControlName="typeid" value="">
                        
                    </div>
                    
                </div>-->
                
                <div formArrayName="contacts" style="margin-top:10px;">
                    <div class=" panel-default" style="padding-top: 5px;">
                        <div class="panel-heading">

                            <div style="width:40%;">
                                <span>Contact Details</span>
                            </div>
                            <div style="width:1%;float:right">
                                <a style="cursor: pointer;float:right;text-align:right;margin-top: -18px;position: absolute">
                                    <i style="color:green;" *ngIf="myForm.controls.contacts.valid" (click)="addContacts(1)" class="fa fa-plus-circle" aria-hidden="true" title="Create"> </i>
                                </a>
                            </div>

                        </div>
						<div class="row">
								<div class="col-xs-5"><label>Type</label></div>
								<div class="form-group col-xs-7" style="margin-top:5px;"></div>
							</div>
                        <div *ngFor="let contact of myForm.controls.contacts.controls; let j=index">
                            <div class="panel-body" [formGroupName]="j" style="padding:10px 0 0 0;">
                                <contact [group]="myForm.controls.contacts.controls[j]"></contact>
                                <span style="margin-top: -33px;" class="fa fa-trash-o pull-right" *ngIf="myForm.controls.contacts.controls.length > 1" (click)="removeContacts(j,contact)">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

               
               
                <div formArrayName="addresses">
                    <div class="panel-heading">
                        <div style="width:40%;">
                            <span>Address Details</span>
                        </div>
                        <div style="width:1%;float:right">
                            <a style="cursor: pointer;float:right;text-align:right;margin-top: -18px;position: absolute">
                                <i style="color:green;" *ngIf="myForm.controls.addresses.valid" (click)="addAddress(1)" class="fa fa-plus-circle" aria-hidden="true" title="Create"> </i>
                            </a>
                        </div>
                    </div>
					
                    <div class=" panel-default" style="padding-top: 5px;">
					
                        <div *ngFor="let address_con of myForm.controls.addresses.controls; let i=index">
                            <div class="panel-body" [formGroupName]="i" style="padding:10px 0 0 0;">
                                <div>
                                    <address_con [group]="myForm.controls.addresses.controls[i]"></address_con>
                                </div>
                                <span style="margin-top: -33px;" class="fa fa-trash-o pull-right" *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i,address_con)">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                        </div>
                        <div class="col-md-12" style="margin-top: -10px;">
                                <label>Remarks <required_field></required_field></label>
                                <textarea class="form-control" placeholder="Message" style="min-height: 70px;" name="ProblemReported" [ngClass]="{'edited':inquiry.remarks}" [(ngModel)]="inquiry.remarks" [ngModelOptions]="{standalone: true}" required></textarea>

                            </div>                           
						</div>
                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-default" (click)="close(myForm)">{{l("Cancel")}}</button>
                            <button type="submit" class="btn btn-primary blue" [disabled]="!myForm.valid || !inquiry.name || !inquiry.remarks || !inquiry.statusId || !inquiry.cEmail || !inquiry.cLandlineNumber || !inquiry.mbNo || !inquiry.email || !contact_edit.titleId" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                        </div>
                    </div>
                </div>
            </form>
    </div>
<style>
          #style-1::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #2f353b;    }
    
        #style-1::-webkit-scrollbar-track {
            border-radius: 10px;           
        }
        #style-1::-webkit-scrollbar {
            width: 8px;
            background-color: #fff;
        } 

</style>