<div [busyIf]="loading" class="container" style="width:100%;margin-bottom: 25px;">
    <div class="modal-header">
        <div class="row">
            <div class="col-md-3">
                <h4 class="modal-title">
                    <span>{{l("Edit")}} - {{inquiry.subMmissionId}}</span>
                </h4>
            </div>
            <!-- <div *ngIf="which_located !='sales-enquiry' && which_located !='sales-grid'" class="col-md-3">
            </div> -->
            <!-- <div *ngIf="which_located =='sales-enquiry' || which_located =='sales-grid'" class="col-md-1" style="text-align: right;margin-top: 8px;">
                <span>Close</span>                  
            </div> -->
            <!-- <div *ngIf="which_located =='sales-enquiry' || which_located =='sales-grid'" class="col-md-2" title="Close Inquiry"> 
                <div class="onoffswitch">
                    <input type="checkbox" name="close" class="onoffswitch-checkbox" id="myclose" [(ngModel)]="inquiry.isClosed"  (change)="InqClosed(inquiry.id)">
                        <label class="onoffswitch-label" for="myclose">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label> 
                </div>
            </div> -->
            <div class="col-md-8" style="right:-80px;">
                <img *ngIf="salesimg" data-placement="bottom" tooltip="Salesperson : {{salesName}}" style="border: 2px solid #e0e6ec;float: right;margin-left: 10px" alt=""  width="35" height="35" class="img-circle" id="HeaderProfilePicture" src="{{salesimg}}">
                <img *ngIf="co_ordimg" data-placement="bottom" tooltip="Co-Ordinator : {{co_ordName}}" style="border: 2px solid #e0e6ec;float: right;margin-left: 10px" alt=""  width="35" height="35" class="img-circle" id="HeaderProfilePicture" src="{{co_ordimg}}">
                <img *ngIf="desimg" data-placement="bottom" tooltip="Designer : {{desName}}" style="border: 2px solid #e0e6ec;float: right;margin-left: 10px" alt=""  width="35" height="35" class="img-circle" id="HeaderProfilePicture" src="{{desimg}}">                                   
       
                <a style="float: right;margin-left: 10px"  (click)="changeStage()" class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">Probability : {{inquiry.opportunity}} %
                    <i class="fa fa-angle-down"></i>
                </a> 
                <div class="btn-group mydropdown" style="float: right;margin-left: 10px" *ngIf="isGranted('Pages.Tenant.Quotation.Revision.Request') && lead_Designer">
                    <a class="btn green-haze btn-outline btn-circle btn-sm" (click)="DesigerRequest()" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> Designer Revision
                        <i class="fa fa-angle-down"></i>
                    </a>    
                </div>
                    
            </div>
            <div class="col-md-1">
                <a class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
        </div>
    </div>
    <tabset class="tab-container tabbable-line">
        <tab> 
            <span *tabHeading>
                <b *ngIf="which_located !='sales-enquiry' && which_located !='sales-grid'">Enquiry Information</b>
                <b *ngIf="which_located =='sales-enquiry' || which_located =='sales-grid'">Lead Information</b>
            </span>     
            <div class="modal-body total">
                <!-- <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
                    <div class="col-sm-12">
                        <div class="btn-group mydropdown" style="pointer-events: all;" *ngIf="isGranted('Pages.Tenant.Quotation.Revision.Request')">
                            <a class="btn green-haze btn-outline btn-circle btn-sm" (click)="DesigerRequest()" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> Designer Revision
                                <i class="fa fa-angle-down"></i>
                            </a>    
                        </div>
                    </div>
                </div> -->
                <form *ngIf="active" [formGroup]="myForm" novalidate>
                    <div class="row" style="background: rgba(45, 87, 126, 0.15);padding: 14px;margin: 0px;">
                        <div class="col-sm-6">
                            <div class="row" [ngClass]="{'no-edit':non_editable}">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input #nameInput class="form-control" type="text" name="code" [ngClass]="{'edited':inquiry.name}" [(ngModel)]="inquiry.name" (change)="CheckInquiryDuplicate(inquiry.name)" [ngModelOptions]="{standalone: true}" required>
                                        <label>{{l("Title Of Enquiry")}} <required_field></required_field>
                                            <span style="color:red;" *ngIf="inquiryDuplicate"> ( This Inquiry Already Exist <i  class="fa fa-exclamation"></i> )</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="pointer-events: all;">
                                    <label>Stage <required_field></required_field></label>
                                    <ng-select id="select" [active]="active_status" [allowClear]="true" [items]="statuses" [disabled]="status_enable" (selected)="selectedStatus($event)" (removed)="removedStatus($event)" (typed)="typedStatus($event)" placeholder="Status"></ng-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"  *ngIf="inquiry.mileStoneId > 1">
                                    <label>Summary of Requirement</label>
                                    <textarea class="form-control" placeholder="Requirement" style="height: 50px;" name="summary" [ngClass]="{'edited':inquiry.summary}" [(ngModel)]="inquiry.summary" [ngModelOptions]="{standalone: true}"></textarea>                     
                                </div>
                                <div class="col-md-6" *ngIf="inquiry.mileStoneId > 1">
                                    <label>Remarks <required_field></required_field></label>
                                    <textarea class="form-control" placeholder="Message" style="height: 50px;" name="ProblemReported" [ngClass]="{'edited':inquiry.remarks}" [(ngModel)]="inquiry.remarks" [ngModelOptions]="{standalone: true}"></textarea>
                                </div>
                                <div class="col-md-12" *ngIf="inquiry.mileStoneId == 1">
                                    <label>Remarks <required_field></required_field></label>
                                    <textarea class="form-control" placeholder="Message" style="height: 50px;" name="ProblemReported" [ngClass]="{'edited':inquiry.remarks}" [(ngModel)]="inquiry.remarks" [ngModelOptions]="{standalone: true}"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Project Location</label>
                                    <ng-select [active]="active_location" 
                                               [allowClear]="true" 
                                               [items]="location"
                                               (selected)="selectedLocation($event)" 
                                               (removed)="removedLocation($event)" 
                                               (typed)="typedLocation($event)" 
                                               placeholder="No Location Selected"></ng-select>
                                </div>
                                <div class="col-md-6">
                                    <label>Why Bafco</label>
                                    <ng-select [active]="active_whybafco" [allowClear]="true" [items]="whybafco"  (selected)="selectedWhyBafco($event)" (removed)="removedWhyBafco($event)"  placeholder="Why Bafco"></ng-select>
                                </div>
                            </div>
                            <div class="row">
                                <div *ngIf="lead_source_enable" class="col-md-6">
                                    <div class="md-checkbox-list" style="display:flex;margin-top: 35px;">
                                        <div class="md-checkbox" *ngFor="let Source of Sources" style="padding-right:30px;">
                                            <input id="EditUser_{{Source.sourceId}}" class="md-check" type="checkbox" name="{{Source.sourceId}}" [(ngModel)]="Source.isAssigned" [ngModelOptions]="{standalone: true}">
                                            <label attr.for="EditUser_{{Source.sourceId}}">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                 {{Source.sourceName}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!lead_source_enable"  class="col-md-12" [ngClass]="{'no-edit':non_editable}">
                                    <label class="mBottom">Company <required_field></required_field></label>
                                     <ng-select id="select" [active]="active_tagCompany" [allowClear]="true" [items]="companies" (selected)="selectedCompany($event)" (removed)="removedCompany($event)" (typed)="typedCompany($event)" [disabled]="linked_disabled" placeholder="No Company selected"></ng-select>
                                       <i *ngIf="CompanyText" style="top: 38px;left: 245px;position: absolute; z-index: 1000;color:green;" class="fa fa-plus-circle" aria-hidden="true" (click)="saveCompany(myForm)" title="Update"></i>
                                </div>
                                <div *ngIf="lead_source_enable" class="col-md-6" [ngClass]="{'no-edit':non_editable}">
                                    <label class="mBottom">Company <required_field></required_field></label>
                                      <ng-select id="select" [active]="active_tagCompany" [allowClear]="true" [items]="companies" (selected)="selectedCompany($event)" (removed)="removedCompany($event)" (typed)="typedCompany($event)" [disabled]="linked_disabled" placeholder="No Company selected"></ng-select>
                                       <i *ngIf="CompanyText" style="top: 38px;left: 245px;position: absolute; z-index: 1000;color:green;" class="fa fa-plus-circle" aria-hidden="true" (click)="saveCompany(myForm)" title="Update"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div  class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input class="form-control" type="email" name="email" [ngClass]="{'edited':inquiry.cEmail}" [(ngModel)]="inquiry.cEmail"  [ngModelOptions]="{standalone: true}" required>
                                        <label>{{l("Company Email")}} <required_field></required_field></label>
                                    </div> 
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input class="form-control" type="text" name="landlineNumber" [ngClass]="{'edited':inquiry.cLandlineNumber}"  [(ngModel)]="inquiry.cLandlineNumber" [ngModelOptions]="{standalone: true}" required>
                                        <label>{{l("Company Phonenumber")}} <required_field></required_field></label>
                                    </div>	
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div  class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input class="form-control" type="text" name="mbNo" [ngClass]="{'edited':inquiry.cMbNo}" [(ngModel)]="inquiry.cMbNo" [ngModelOptions]="{standalone: true}">
                                        <label>{{l("Website")}}</label>
                                    </div>
                                </div>
                                <div class="col-md-6" *ngIf="this.inquiry.companyId">
                                    <label>Industry</label>
                                    <ng-select [active]="active_indus" [allowClear]="true" [items]="indus" [disabled]="disabled_indus" (selected)="refreshIndus($event)" (removed)="removedIndus($event)" placeholder="Select industry"></ng-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                </div>    
                                <div class="col-md-6">
                                    <div class="form-group" *ngIf="inquiry.departmentId && !assigned && inquiry.mileStoneId>2">
                                        <label class="mBottom">Division <required_field></required_field></label>
                                        <ng-select #departmentCombobox [active]="active_tagdept" [allowClear]="false" [items]="departments" [disabled]=1></ng-select>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div id="style-1" class="col-sm-6 {{assigned ? 'contact-maxHeight424':'contact-formSection'}}">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <label>Salutation <required_field></required_field></label>
                                        <ng-select  id="sal" [active]="active_title" [allowClear]="true" [items]="title" [disabled]="disabled" (data)="refreshTitle($event,myForm)" (removed)="removedTitle($event,myForm)" placeholder="No Title selected"></ng-select>
                                        <input type="hidden" formControlName="newtitleid" value="">
                                </div> 
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                       <label>First Name <required_field></required_field></label>
                                       <input type="text" class="form-control" formControlName="companyName">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label>Last Name <required_field></required_field></label>
                                        <input type="text" class="form-control" formControlName="lastName">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <label>Designation</label>
                                    <ng-select [active]="active_desg" [allowClear]="true" [items]="designation" [disabled]="disabled" (selected)="selecteddesc($event)" (removed)="removeddesc($event)" placeholder="No Designation selected"></ng-select>
                                </div>  
                            </div>  
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input class="form-control" type="email" name="email" [ngClass]="{'edited':inquiry.email}" [(ngModel)]="inquiry.email"  [ngModelOptions]="{standalone: true}"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" required>
                                        <label>{{l("Email")}} <required_field></required_field></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input class="form-control" type="text" name="mblno" [ngClass]="{'edited':inquiry.mbNo}" [(ngModel)]="inquiry.mbNo"  [ngModelOptions]="{standalone: true}" required>
                                        <label>{{l("Mobile Number")}} <required_field></required_field></label>                          
                                    </div>
                                </div>
                <div class="col-md-4">
                       <div class="form-group form-md-line-input form-md-floating-label no-hint">
                       <input #nameInput class="form-control" type="text" name="mblno" [ngClass]="{'edited':inquiry.landlineNumber}" [(ngModel)]="inquiry.landlineNumber" [ngModelOptions]="{standalone: true}">
                       <label>{{l("Phonenumber")}}</label>
                   </div>
                </div>  
        </div>              
            <div formArrayName="contacts" class="{{assigned ? 'topMargin19': 'topMargin10'}}">
                <div class=" panel-default" style="padding-top: 5px;">
                    <div class="panel-heading">

                        <div style="width:40%;">
                            <span>Contact Details</span>
                        </div>
                        <div style="width:1%;float:right">
                            <a style="cursor: pointer;float:right;text-align:right;margin-top: -18px;position: absolute">
                                <i style="color:green;" *ngIf="myForm.controls.contacts.valid" (click)="addContacts(1)" class="fa fa-plus-circle" aria-hidden="true" title="Create"> </i>
                            </a>
                        </div>

                    </div>
                    <div class="row">
                            <!-- <div class="col-xs-5"><label>Type</label></div> -->
                            <div class="form-group col-xs-7" style="margin-top:5px;"></div>
                        </div>
                    <div *ngFor="let contact of myForm.controls.contacts.controls; let j=index">
                        <div class="panel-body" [formGroupName]="j" style="padding:10px 0 0 0;">
                            <contact [group]="myForm.controls.contacts.controls[j]"></contact>
                            <span style="margin-top: -33px;" class="fa fa-trash-o pull-right" *ngIf="myForm.controls.contacts.controls.length > 1" (click)="removeContacts(j,contact)">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div formArrayName="addresses" >
                <div class="panel-heading">
                    <div style="width:40%;">
                        <span>Address Details</span>
                    </div>
                    <div style="width:1%;float:right">
                        <a style="cursor: pointer;float:right;text-align:right;margin-top: -18px;position: absolute">
                            <i style="color:green;" *ngIf="myForm.controls.addresses.valid" (click)="addAddress(1)" class="fa fa-plus-circle" aria-hidden="true" title="Create"> </i>
                        </a>
                    </div>
                </div>
                <div class=" panel-default" style="padding-top: 5px;">
                
                    <div *ngFor="let address_con of myForm.controls.addresses.controls; let i=index">
                    
                        <div class="panel-body" [formGroupName]="i" style="padding:10px 0 0 0;">
                        
                            <div>
                                <address_con [group]="myForm.controls.addresses.controls[i]"></address_con>
                            </div>
                            <span style="margin-top: -33px;" class="fa fa-trash-o pull-right" *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i,address_con)">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
              </div>
              
              <div  class="row" *ngIf="inquiry.mileStoneId>=2">
                    <div class="col-md-12">
                    </div>    
                </div>
                <div class="row" *ngIf="assigned" style="pointer-events: all;padding: 12px;">
                        <div class="col-md-4" *ngIf="inquiry.departmentId">

                                <label class="mBottom">Division <required_field></required_field></label>
                                <ng-select #departmentCombobox [active]="active_tagdept" [allowClear]="false" [items]="departments" [disabled]=1></ng-select>

                        </div>   
                        <div class="col-md-4" *ngIf="inquiry.teamId">
                                <label class="mBottom">Team <required_field></required_field></label>
                                <ng-select [active]="active_team" [disabled]="!isGranted('Pages.Tenant.Enquiry.SalesEnquiry.Edit.Team')" [allowClear]="true" [items]="teams" (selected)="selectedTeam($event)" (removed)="removedTeam($event)" placeholder="No Team selected"></ng-select>
                        </div>
                        
                        <div class="col-md-4" >
                                <label *ngIf="inquiry.mileStoneId <= 3" class="mBottom">Assigned To: </label>
                                <label *ngIf="inquiry.mileStoneId > 3" class="mBottom">Assigned To: <required_field></required_field></label>
                                <ng-select [active]="active_assigned" [allowClear]="true" [items]="assignedBy" [disabled]="!isGranted('Pages.Tenant.Enquiry.SalesEnquiry.Edit.Team') || Enabled_Assigned" (selected)="selectAssigned($event)"></ng-select>
                        </div>                   
                    </div>
                <div class="row"  *ngIf="inquiry.mileStoneId > 1 && which_located!='sales-enquiry' && which_located!='sales-grid'" style="background: #e3e4e6; margin-right: 0px;margin-left: 0px; padding: 10px;margin-top: 10px;">
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="number" name="estimationValue" [ngClass]="{'edited':inquiry.estimationValue}" [(ngModel)]="inquiry.estimationValue" [ngModelOptions]="{standalone: true}">
                                <label>{{l("Estimation")}} <required_field></required_field></label>
                            </div>
                        </div>
                            <div class="col-md-3">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="size" [ngClass]="{'edited':inquiry.size}" [(ngModel)]="inquiry.size" [ngModelOptions]="{standalone: true}">
                                <label>{{l("Size - sqm")}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Category</label>
                            <ng-select [active]="active_lead_category" [allowClear]="true" [items]="lead_category" [disabled]="lead_category_enable" (selected)="selectedLeadCategory($event)" (removed)="removedLeadCategory($event)" (typed)="typedLeadCategory($event)" placeholder="Lead Category">
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <label>Competitors</label>
                            <ng-select [active]="active_competators" 
                                       [allowClear]="true" 
                                       [items]="competators" 
                                       [disabled]="competator_enable" 
                                       (selected)="selectedCompetitor($event)" 
                                       (removed)="removedCompetitor($event)" 
                                       (typed)="typedCompetitor($event)" 
                                       placeholder="Competitors">
                            </ng-select>
                        </div>
                </div> 
                </div>
            </form>
            <div class="row" *ngIf="which_located =='sales-enquiry' || which_located =='sales-grid'" style="background: #e3e4e6; margin-right: 0px;margin-left: 0px; padding: 10px;margin-top: 10px;">
                <div class="col-md-3">
                       <label>Lead Category</label>
                       <ng-select [active]="active_lead_save_category" [allowClear]="true" [items]="lead_category" [disabled]="lead_category_enable" (selected)="selectedLeadSaveCategory($event)" (removed)="removedLeadSaveCategory($event)" (typed)="typedLeadSaveCategory($event)" placeholder="Lead Category">
                       </ng-select>
                 </div>
                 <div class="col-md-3">
                        <label>Opportunity Source<required_field></required_field></label>
                        <ng-select [active]="active_lead_source" [allowClear]="true" [items]="lead_source" [disabled]="lead_source_enable" (selected)="selectedLeadSource($event)" (removed)="removedLeadSource($event)" (typed)="typedLeadSource($event)" placeholder="Lead Source">
                   </ng-select>
                </div> 
                <div class="col-md-3">
                        <div class="col-md-4">
                                <label>Design</label>
                       
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch21" class="onoffswitch-checkbox" id="myonoffswitch21" [(ngModel)]="designerr"  checked>
                                    <label class="onoffswitch-label" for="myonoffswitch21">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                        </div>
                        <div class="col-md-8">
                            <br>
                                <button *ngIf="unapproved" type="button" class="btn btn-dark red"> <span>{{l("UnApproved")}}</span></button>                               
                        </div>
                    </div>
                   <div class="col-md-3">
                       <div class="form-group form-md-line-input form-md-floating-label no-hint">
                           <input class="form-control" type="number" name="estimatedValue" [ngClass]="{'edited':saveLeadDetailInput.estimationValue}" [(ngModel)]="saveLeadDetailInput.estimationValue" >
                           <label>{{l("Estimated Value")}} <required_field></required_field></label>
                        </div>
                   </div>
                   <div class="col-md-3">
                       <label>Competitors</label>
                       <ng-select [active]="active_competators" 
                                  [allowClear]="true" [items]="competators" 
                                  [disabled]="competator_enable" 
                                  (selected)="selectedCompetitor($event)" 
                                  (removed)="removedCompetitor($event)" 
                                  (typed)="typedCompetitor($event)" 
                                  placeholder="Competitors">
                       </ng-select>
                   </div> 
                   <div class="col-md-3">
                       <label>Co-ordinator</label>
                           <ng-select [active]="active_coord" 
                                      [allowClear]="true" 
                                      [items]="coordinator" 
                                      [disabled]="coordinator_enable" 
                                      (selected)="selectedCoord($event)" 
                                      (removed)="removedCoord($event)" 
                                      (typed)="typedCoord($event)" 
                                      placeholder="Co-ordinator">
                       </ng-select>
                   </div> 
                              
            <div class="col-md-3">
                    <div>
                            <label>Designer</label>
                            <ng-select [active]="active_designer" [allowClear]="true" [items]="designer" [disabled]="!designerr" (selected)="selectedDesigner($event)" (removed)="removedDesigner($event)" (typed)="typedDesigner($event)" placeholder="Designer">
                                </ng-select>
                    </div>  
                </div>
           <div class="col-md-3">
               <div class="form-group form-md-line-input form-md-floating-label no-hint">
                   <input class="form-control" type="text" name="code" [ngClass]="{'edited':saveLeadDetailInput.size}" [(ngModel)]="saveLeadDetailInput.size" >
                    <label>{{l("Size")}}</label>
               </div>
           </div>  
           <div class="col-md-3">
            <label>Lead Status</label>
            <ng-select [active]="active_inqleadstatus" (selected)="selectedInqLeadStatus($event)" [items]="InqLeadStatus" placeholder="Lead Status">
            </ng-select>
            </div> 
             <div class="col-md-3">
                <div class="col-md-6">
                <label>Star Lead</label>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="staredSwitch" [(ngModel)]="inquiry.stared" [ngModelOptions]="{standalone: true}" checked>
                            <label class="onoffswitch-label" for="staredSwitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                    </div>                    
                </div>
                <div class="col-md-6">
                    <label>Tender</label>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="tenderSwitch" [(ngModel)]="inquiry.tenderProject" [ngModelOptions]="{standalone: true}" checked>
                                <label class="onoffswitch-label" for="tenderSwitch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                        </div>                    
                    </div>
               
                </div>
           
    <div class="col-md-3" *ngIf="inquiry.stared">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
        <input class="form-control" type="number" name="weightedvalue" [ngClass]="{'edited':inquiry.weightedvalue}" [(ngModel)]="inquiry.weightedvalue" [ngModelOptions]="{standalone: true}" (keydown)="check($event)" (keyup)="checkValue()">
            <label>{{l("Weighted %")}}<required_field></required_field></label>
        </div>
    </div> 
    <div class="col-md-3" *ngIf="lqref!='NoQuote'">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input class="form-control" type="text" [disabled]="true" name="lockedQuote" [ngClass]="{'edited':lqref}" [(ngModel)]="lqref" >
            <label>{{l("LockedQuote")}} </label>
         </div>
    </div>
    <div class="col-md-3">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input class="form-control" type="number" [disabled]="true" name="lockedValue" [ngClass]="{'edited':lqtot}" [(ngModel)]="lqtot" >
            <label>{{l("LockedValue")}} </label>
         </div>
    </div>
    <div class="col-md-3" style="padding-top: 24px;">
        <label>Next Activity <required_field></required_field></label>
        <p-calendar showButtonBar="true" id="datetime" [(ngModel)]="lastActivity" [ngClass]="form-control" [ngModelOptions]="{standalone: true}"></p-calendar>  
</div>
<div class="col-md-3" style="padding-top: 24px;">
            <label>Expected Closure <required_field></required_field></label>
            <p-calendar showButtonBar="true" id="datetime2" [(ngModel)]="closedDate" [ngClass]="form-control" [ngModelOptions]="{standalone: true}"></p-calendar>  
</div> 
     </div>
           <div class="row">
                <div class="col-md-12 modal-footer" style="margin-bottom: -40px;">
                               <button [disabled]="saving" type="button" class="btn btn-default enq-btu" (click)="close()">{{l("Cancel")}}</button>
                               <button type="button" class="btn btn-primary blue enq-btu" [disabled]="isValidEnquiry(myForm)" [buttonBusy]="loading" [busyText]="l('SavingWithThreeDot')" (click)="saveLeadDetails(0)"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>                             
                               <button type="button" class="btn btn-primary blue enq-btu" [disabled]="isValidEnquiry(myForm)"  (click)="saveLeadDetails(1)"><i class="fa fa-save"></i> <span>{{l("Save & Exit")}}</span></button>                               
                        </div>
                    </div>
            </div>
        </tab> 
        <tab *ngIf="which_located!='leads' && which_located!='sales-enquiry' && which_located!='sales-grid'">
                <span *tabHeading>
                        <b>Lead Information</b>
                    </span>
         <div class="modal-body">
          <div class="portlet-body">
            <div class="container lead-information-container">
          <div class="row">
            <div class="col-md-6">
            <table class="table table-bordered">
            <tbody>
                <tr>
                    <td width="38%">Lead Category</td>
                    <td width="5%">:</td>
                    <th>{{lead_Category}}</th>
                </tr>
                <tr>    
                    <td width="38%">Opportunity Source</td>
                    <td width="5%">:</td>
                    <th>{{lead_Source}}</th>
                </tr>
                <tr>    
                    <td width="38%">Estimated Value</td>
                    <td width="5%">:</td>
                    <th>{{saveLeadDetailInput.estimationValue}}</th>
                </tr>
                
            </tbody>
            </table>
            </div>
            <div class="col-md-6">
            <table class="table table-bordered">
            <tbody>
                    <tr>    
                            <td width="38%">Designer</td>
                            <td width="5%">:</td>
                            <th>{{lead_Designer}}</th>
                    </tr>
                <tr>    
                    <td width="38%">Co-ordinator</td>
                    <td width="5%">:</td>
                    <th>{{lead_Coord}}</th>
                </tr>
                <tr>    
                        <td width="38%">Size</td>
                        <td width="5%">:</td>
                        <th>{{saveLeadDetailInput.size}}</th>
                    </tr>
            </tbody>
            </table>
            </div>
          </div>
          </div>
          </div>
        </div>
        </tab>
         <tab *ngIf="quoat_view">
                <span *tabHeading>
                        <b>Quotations</b>
                    </span>
                <div class="col-xs-12 text-right" *ngIf="!inquiry.isClosed">
                        <button (click)="createQuotation()" class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("Create Quotation")}}</button>
                    </div>
           <div class="portlet light margin-bottom-0" style="background:none;">
            <div class="portlet-body">
      
            <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                <p-dataTable #dataTable
                             (onLazyLoad)="getEnquiryQuotations($event)"
                             [value]="primengDatatableHelper.records"
                             rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                             [paginator]="false"
                             [lazy]="false"
                             emptyMessage="{{l('NoData')}}"
                             [responsive]="primengDatatableHelper.isResponsive">
                    

                    <p-column field=""
                              header="{{l('Actions')}}"
                              [sortable]="false"
                              [style]="{'width':'75px'}"
                            >
                        <ng-template let-record="rowData" pTemplate="body">
                           <div class="btn-group dropdown mydropdown">
                                <button class="dropdown-toggle btn btn-xs btn-primary blue"
                                        data-toggle="dropdown"
                                        tooltip="{{l('Actions')}}"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                     <li>
                                        <a *ngIf="isGranted('Pages.Tenant.Enquiry.Enquiry.Gridview.Open')" (click)="openQuotation(record)">{{l('Open')}}</a>
                                    </li>                                                        
                                    <li >
                                        <a (click)="editQuotation(record)">{{l('Edit')}}</a>
                                    </li>
                                    <li >
                                        <a (click)="deleteQuotation(record)">{{l('Delete')}}</a>
                                    </li>
                                </ul>
                            </div> 
                        </ng-template>
                    </p-column>
                    <p-column field="probability" header="{{l('Probability')}}" [sortable]="false"></p-column>
                    <p-column field="refNo" header="{{l('Ref NO')}}" [sortable]="false"></p-column>
                    <p-column field="companyName" header="{{l('Company Name')}}" [sortable]="false"></p-column>
                    <p-column field="total" header="{{l('Total')}}" [sortable]="false">
                            <ng-template let-record="rowData" pTemplate="body">
                                    <span >{{record.total.toLocaleString('en', { minimumFractionDigits: 2 })}}</span>
                                </ng-template>      
                    </p-column>
                    <p-column field="attentionName" header="{{l('Attention Name')}}" [sortable]="false"></p-column>
                    <p-column field="salesPersonName" header="{{l('Salesperson')}}" [sortable]="false"></p-column>
                    <p-column field="statusName" header="{{l('Quotation Status')}}" [sortable]="false"></p-column>
                    <p-column field="sCreationTime" header="{{l('Creation Time')}}" [sortable]="false" [style]="{'width':'200px'}"></p-column>
                </p-dataTable>
                <div class="primeng-paging-container">
                    <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 #paginator
                                 (onPageChange)="getEnquiryQuotations($event)"
                                 [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                 [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                    </p-paginator>
                    <span class="total-records-count">
                        {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                    </span>
                </div>
            </div>
            </div>
            </div>
        
        </tab> 
        <tab *ngIf="which_act">
                <span *tabHeading>
                        <b>Activities</b>
                    </span>
            <div class="clearfix">
                <div class="col-xs-12">
                        <div class="portlet box" style="background: #EEF1F5;">
                            <div class="portlet-title" style="max-height: 0px;margin-top: -21px;">
                                <div class="caption" style="color: black;font-weight: 800;margin-top:-12px;">
                                    <h4>Linked Contacts ({{linkedContacts.length}})</h4>
                                </div>
                                <div class="tools">
                                    
                                <button [disabled]="!inquiry.companyId" class="btn btn-primary yellow btn-xs" (click)="createNewContacts()"><i class="fa fa-plus"></i></button>
                                        <button class="btn btn-primary blue btn-xs" [disabled]="!inquiry.companyId" (click)="createLinkedContact()"><i class="fa fa-plus"></i>Linked Contact </button>
                                        <button [disabled]="!linkedContacts.length" class="btn btn-primary blue btn-xs" (click)="createEnquiryActivity(inquiry.companyId)"><i class="fa fa-plus"></i> {{l("New Activity")}}</button>                                            
                                        &nbsp;&nbsp;
                                    <i *ngIf="linkedContacts.length" style="color:red;" class="fa fa-arrow-down" (click)="expand()"><a>
                                    </a></i>
                                </div>
                            </div>
                            <div class="portlet-body" *ngIf="ViewLinkedDetails">
                                <div class="row margin-bottom-5">
                                    <div class="col-xs-6">
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <!--<button [disabled]="!inquiry.companyId" *ngIf="isGranted('Pages.Tenant.Enquiry.EnquiryContact')" class="btn btn-primary yellow" (click)="createNewContacts()"><i class="fa fa-plus"></i></button>
                                        <button  *ngIf="isGranted('Pages.Tenant.Enquiry.LinkCompany')" class="btn btn-primary blue" [disabled]="!inquiry.companyId" (click)="createLinkedContact()"><i class="fa fa-plus"></i>Linked Contact </button>-->
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="list-group">
                                            <a *ngFor="let contact of linkedContacts" href="javascript:;" class="list-group-item" style="background: #eef1f5;">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-1">
                                                            <img src="/assets/common/images/Contacts.png" style="height:48px;width:54px;align-content:center;" class="img-rounded" />
                                                        </div>
                                                        <div class="col-md-11" style="left:5%;">
                                                            <h4 class="list-group-item-heading" style="color:blue">
                                                                {{contact.newContactName}}<br />

                                                            </h4>

                                                            <h5 class="list-group-item-heading" style="color:green">
                                                                Company : {{contact.newCompanyName}} &nbsp;&nbsp; Company Type : {{contact.newCustomerTypeTitle}}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                </div>
               
            </div>
            <div *ngIf="enqActivityList.length > 0" class="modal-body" style="margin-top: -34px;">
                <div class="portlet light margin-bottom-0">
                  
                    <div style="width:100%;">
                    <div style="font-size:15px;" >
                                    Showing:<ul style="display:inline;padding:0px;">
                                    <li *ngFor="let item of radioitems" style="display:inline-block;">
                                        <input class="radio-toolbar" [id]="item.id" type="radio" name="showacts" ng-control="options" [value]="item.id" style="opacity:0;" [checked]="item.name=='All'?true:false" (change)="onRadioChange(item.name)">
                                        <label  style="font-size:13px;padding:2px 10px;" [for]="item.id">   {{item.name}} </label>
                                    </li>
                                </ul>

                                </div>
                        <div id="style-1"  style="width:100%;max-height:300px;font-size:13px;padding:10px;overflow-y: scroll;overflow-x: hidden;">
                            <div class="portlet-body">
                                
                                <div class="item ng-scope" *ngFor="let activity of enqActivityList">

                                    <div class="media" style="padding: 10px 0 0 0;" *ngIf="activity.activityName==radio_val ||radio_val=='All' ">
                                        <div class="media-left iconCont">
                                        <hr/><span class="media-object activityIcon" [ngStyle]="{'background-color': activity.colorName}"  (click)="editEnqActivity(inquiry.companyId,activity)"><i aria-hidden="true" class="fa {{activity.className}}" style="margin-top: 16px;border-radius: 5px;"></i></span>
                                        </div>
                                        <div class="media-body" style="width:78%;display:inline-block;background: white;padding: 10px;">
                                            <div class="row" >
                                            <div class="col-md-10">
                                                <div *ngIf="!activity.previousStatus"><span class="item-label ng-binding" > {{activity.message}}</span>
                                               
                                                    <span class="item-label ng-binding" style="color:#217ebd;">{{activity.creationTime._d | amTimeAgo}}</span>
                                                </div>
                                                <div *ngIf="activity.previousStatus">
                                                    <span class="item-label ng-binding" *ngIf="activity.previousStatus"><!-- <a [routerLink]="['/app/main/kanban/',activity.enquiryId]">{{activity.enquiryNo}}</a> -->{{activity.enquiryNo}} &nbsp;&nbsp;&nbsp;Status Changed from <small class="statusmessage">{{activity.previousStatus}}</small></span>
                                                <span class="item-label ng-binding" *ngIf="activity.currentStatus">
                                                    <i class="fa fa-arrow-right" aria-hidden="true"></i><small class="statusmessage">{{activity.currentStatus}}</small></span>
                                                    <span class="item-label ng-binding" style="color:#217ebd;">{{activity.creationTime._d | amTimeAgo}}</span>
                                                </div>


                                            </div>
                                         
                                            <div class="col-md-2" style="margin-top:6px;">
                                                <h5 class="media-heading" style="float:right;">{{activity.createdby}}</h5>
                                                <a (click)="createComActivity(activity.id)"  class="item-name primary-link ng-binding" ><i class="fa fa-comments"></i></a>
                                            </div>
                                        </div>
                                            
                                        </div>

                                    </div>

                                </div>
                                
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix" *ngIf="lead_Designer">
                    <div class="col-xs-12" style="margin-top: 12px;">
                            <div class="portlet box" style="background: #EEF1F5;">
                                <div class="portlet-title" style="max-height: 0px;margin-top: -21px;">
                                    <div class="caption" style="color: black;font-weight: 800;margin-top:-12px;">
                                        <h4>Job Activities ({{activities.length}})</h4>
                                    </div>
                                    <div class="tools">
                                 
                                    <!-- <button class="btn btn-primary blue btn-xs" (click)="createJobActivity()"><i class="fa fa-plus"></i> Create New </button> -->
                                            &nbsp;&nbsp;
                                        <i *ngIf="linkedContacts.length" style="color:red;" class="fa fa-arrow-down" (click)="expandJob()"><a>
                                        </a></i>
                                    </div>
                                </div>
                                <div class="portlet-body" *ngIf="ViewJob">
                                    <div class="modal-body">
                                        <div class="row">
                                                <div class="list-group">
                                                        <a *ngFor="let act of activities" href="javascript:;" class="list-group-item">
                                                            <h5 style="font-weight: 600;">{{act.jobNumber}}</h5>
                                                            <h4 class="list-group-item-heading">
                                                                {{act.title }}                                                          
                                                               <span *ngIf="act.allottedDate">
                                                                Alloted <span  class="item-label ng-binding" style="color:#217ebd;">{{act.allottedDate._d | amTimeAgo}}</span>
                                                               </span>
                                                               <span *ngIf="act.startDate">
                                                                Start <span class="item-label ng-binding" style="color:#217ebd;">{{act.startDate._d | amTimeAgo}}</span>
                                                               </span>
                                                               <span *ngIf="act.endDate">
                                                                <span class="item-label ng-binding" style="color:#217ebd;"> and End {{act.endDate._d | amTimeAgo}}</span>
                                                               </span>

                                                                <button  (click)="editJobActivity(act)" title="{{l('Edit')}}" class="btn btn-circle btn-icon-only green edit-person">
                                                                        <i class="icon-pencil"></i>
                                                                </button>
                                                                <button  (click)="deleteJobActivity(act)" title="{{l('Delete')}}" class="btn btn-circle btn-icon-only red delete-person" href="javascript:;">
                                                                        <i class="icon-trash"></i>
                                                                </button>
                                                                <small *ngIf="act.isopen" style="background: green" class="statusmessage">6 Days</small>   
                                                            </h4>
                                                            <h5 class="list-group-item-text">
                                                                {{act.remark}} &nbsp; &nbsp;
                                                                <small *ngIf="act.isopen" style="background: green" class="statusmessage">Open</small>   
                                                                <small *ngIf="!act.isopen" style="background: red" class="statusmessage">Closed</small>
                                                            </h5>
                                                            
                                                        </a>
                                                    </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                    </div>
            </div>
        </tab>
       
    </tabset>


</div>
<createLinkedModal #createLinkedModal (modalSave)="show(inquiry.id)"></createLinkedModal>
<viewLinkedModal #viewLinkedModal></viewLinkedModal>
<createInqModal #createInqActivityModal (modalSave)="getEnquiryActivity()"></createInqModal>
<createNewContactModal #createNewContactModal></createNewContactModal>
<createCommentModal #createCommentModal (modalSave)="getEnquiryActivity()"></createCommentModal>
<createJobActivityModal #createJobActivityModal (modalSave)="getJobActivity()"></createJobActivityModal> 
<selectStageModal #selectStageModal (modalSave)="ngOnInit()"></selectStageModal>
<createNewEnQuotationModal #createNewEnQuotationModal (modalSave)="getEnquiryQuotations()"></createNewEnQuotationModal>