<div [@routerTransition]>
    <tabset  class="tab-container tabbable-line">
        <tab heading="Enquiry">
                <div class="row" style="margin-bottom: 20px;">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-4">
                            <form>
                                <div class="input-group">
                                    <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getInquiry()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                        </span>
                                </div>
                            </form> 
                        </div>
                       
                        <div class="col-xs-6 text-right">
                            <button *ngIf="isGranted('Pages.Tenant.Enquiry.SalesEnquiry.Gridview.Create')" (click)="createInquiry()" class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("Create New")}}</button>
                                <a class="btn btn-primary blue" [routerLink]="['/app/main/sales-enquiry']" ><i class="fa fa-list"></i>{{l("Kanban View")}} </a>
                            <button class="btn btn-primary blue" [routerLink]="['/app/main/forecast']" ><i class="fa fa-list"></i>{{l("Forecast Kanban")}} </button>
                            <button (click)="exportToExcel()" class="btn btn-primary blue"><i class="fa fa-download"></i> {{l("Export")}}</button>
                        </div>
                    </div> 
            <div class="portlet light margin-bottom-0">
                <div class="portlet-body">
                    <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                        <p-dataTable #dataTable
                             (onLazyLoad)="getInquiry($event)"
                             [value]="primengDatatableHelper.records"
                             rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                             [paginator]="false"
                             [lazy]="false"
                             emptyMessage="{{l('NoData')}}"
                             scrollable="true" 
                             [responsive]="primengDatatableHelper.isResponsive">
                    <!-- <p-footer>
                        {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                    </p-footer> -->

                            <p-column field=""
                               header="{{l('Actions')}}"
                               [sortable]="false"
                               [style]="{'width':'75px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                  <div class="btn-group dropdown mydropdown">
                                    <button class="dropdown-toggle btn btn-xs btn-primary blue"
                                        data-toggle="dropdown"
                                        tooltip="{{l('Actions')}}"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                      <i class="fa fa-cog"></i><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                          <a (click)="editInquiry(record)">{{l('Edit')}}</a>
                                        </li>
                                        <li>
                                          <a (click)="deleteInquiry(record)">{{l('Delete')}}</a>
                                        </li>
                                    </ul>
                                  </div>
                                </ng-template>
                            </p-column>                           
                            <p-column field="subMmissionId" header="Ref No" [sortable]="true" [style]="{'width':'200px'}"></p-column>
                            <p-column field="name" header="{{l('Title Of Enquiry')}}" [sortable]="true" [style]="{'width':'230px'}"></p-column>
                            <p-column field="companyName" header="{{l('Company Name')}}" [sortable]="true" [style]="{'width':'200px'}"></p-column>
                            <p-column field="mileStoneName" header="{{l('Milestone')}}" [sortable]="true" [style]="{'width':'150px'}"></p-column>
                            <p-column field="departmentName" header="{{l('Department Name')}}" [sortable]="true" [style]="{'width':'200px'}"></p-column>
                            <p-column field="teamName" header="{{l('Team Name')}}" [sortable]="true" [style]="{'width':'200px'}"></p-column>
                            <p-column field="won" header="{{l('Won')}}" [sortable]="false" [style]="{'width':'70px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span class="label label-success" *ngIf="record.won">{{l('Yes')}}</span>
                                    <span class="label label-default" *ngIf="!record.won">{{l('No')}}</span>
                                </ng-template>
                            </p-column>
                            <p-column field="salesMan" header="{{l('Assign To')}}" [sortable]="true"  [style]="{'width':'150px'}"></p-column>
                            <p-column field="createdBy" header="{{l('Created By')}}" [sortable]="true"  [style]="{'width':'150px'}"></p-column>
                            <p-column field="sCreationTime" header="Creation Time" [sortable]="false" [style]="{'width':'200px'}"></p-column>
                           </p-dataTable>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 #paginator
                                 (onPageChange)="getInquiry($event)"
                                 [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                 [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                               {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                </div>
            </div> 
        </tab>
        <tab heading="Archived">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                    <form (ngSubmit)="getclosedInquiry()">
                        <div class="input-group">
                            <input [(ngModel)]="filterText2" name="filterText2" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                <span class="input-group-btn">
                                    <button (click)="getclosedInquiry()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                </span>
                        </div>
                    </form> 
                </div>
             </div>
           
             <div class="portlet light margin-bottom-0">
                <div class="portlet-body">
                    <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                        <p-dataTable #ArchidataTable
                             (onLazyLoad)="getclosedInquiry($event)"
                             [value]="closedinquiryArray"
                             rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                             [paginator]="false"
                             [lazy]="true"
                             emptyMessage="{{l('NoData')}}"
                             scrollable="true" 
                             [responsive]="primengDatatableHelper.isResponsive">
                      
                            <p-column field=""
                               header="{{l('Actions')}}"
                               [sortable]="false"
                               [style]="{'width':'75px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                  <div class="btn-group dropdown mydropdown">
                                    <button class="dropdown-toggle btn btn-xs btn-primary blue"
                                        data-toggle="dropdown"
                                        tooltip="{{l('Actions')}}"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                      <i class="fa fa-cog"></i><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                          <a (click)="openClosedInquiry(record)">{{l('Open')}}</a>
                                        </li>
                                        <li *ngIf="record.isReversable">
                                          <a (click)="revertClosedInquiry(record)">{{l('Revert')}}</a>
                                        </li>
                                    </ul>
                                  </div>
                                </ng-template>
                            </p-column>
                            <p-column field="subMmissionId" header="Ref No" [sortable]="true" [style]="{'width':'200px'}"></p-column>
                            <p-column field="name" header="{{l('Title Of Enquiry')}}" [sortable]="true" [style]="{'width':'230px'}"></p-column>
                            <p-column field="companyName" header="{{l('Company Name')}}" [sortable]="true" [style]="{'width':'200px'}"></p-column>
                            <p-column field="mileStoneName" header="{{l('Milestone')}}" [sortable]="true" [style]="{'width':'150px'}"></p-column>
                            <p-column field="departmentName" header="{{l('Department Name')}}" [sortable]="true" [style]="{'width':'200px'}"></p-column>
                            <p-column field="teamName" header="{{l('Team Name')}}" [sortable]="true" [style]="{'width':'200px'}"></p-column>
                            <p-column field="Reversible" header="{{l('Reversible')}}" [sortable]="false" [style]="{'width':'100px'}">
                                <ng-template let-record="rowData" pTemplate="body">
                                    <span class="label label-success" *ngIf="record.isReversable">{{l('Yes')}}</span>
                                    <span class="label label-default" *ngIf="!record.isReversable">{{l('No')}}</span>
                                </ng-template>
                            </p-column>
                            <p-column field="createdBy" header="{{l('Created By')}}" [sortable]="true"  [style]="{'width':'150px'}"></p-column>
                            <p-column field="sCreationTime" header="Creation Time" [sortable]="false" [style]="{'width':'200px'}"></p-column>
                        </p-dataTable>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 #paginator
                                 (onPageChange)="getclosedInquiry($event)"
                                 [totalRecords]="closedinquiryArrayCount"
                                 [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                               {{l('TotalRecordsCount', closedinquiryArrayCount)}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Quotation">
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <form>
                            <div class="input-group">
                                <input [(ngModel)]="filterText3" name="filterText3" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                    <span class="input-group-btn">
                                        <button (click)="getQuotation()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                    </span>
                            </div>
                        </form> 
                    </div>
                    <div class="col-xs-4 text-right">
                        <a class="btn btn-primary blue" [routerLink]="['/app/main/sales-enquiry']" ><i class="fa fa-list"></i>{{l("Kanban View")}} </a>
                    </div>
                </div>
                <div class="portlet light margin-bottom-0">
                    <div class="portlet-body">
                        <div id="salesQuotdataTable" class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                            <p-dataTable #salesQuotdataTable
                                 (onLazyLoad)="getQuotation($event)"
                                 [value]="quotationArray"
                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="false"
                                 emptyMessage="{{l('NoData')}}"
                                 scrollable="true" 
                                 [responsive]="primengDatatableHelper.isResponsive">
                                <p-column field=""
                                   header="{{l('Actions')}}"
                                   [sortable]="false"
                                   [style]="{'width':'75px'}">
                                    <ng-template let-record="rowData" pTemplate="body">
                                      <div class="btn-group dropdown mydropdown">
                                        <button class="dropdown-toggle btn btn-xs btn-primary blue"
                                            data-toggle="dropdown"
                                            tooltip="{{l('Actions')}}"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                          <i class="fa fa-cog"></i><span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                              <a *ngIf="isGranted('Pages.Tenant.Enquiry.Enquiry.Gridview.Open')" (click)="openQuotation(record)">{{l('Open')}}</a>
                                            </li>
                                            <li>
                                              <a (click)="editQuotation(record)">{{l('Edit')}}</a>
                                            </li>
                                            <li>
                                              <a (click)="deleteQuotation(record)">{{l('Delete')}}</a>
                                            </li>
                                        </ul>
                                      </div>
                                    </ng-template>
                                </p-column>
                                <p-column field="refNo" header="{{l('Ref No')}}" [sortable]="true" [style]="{'width':'150px'}"></p-column>
                                    <p-column field="inquiryName" header="{{l('Title Of Enquiry')}}" [sortable]="true" [style]="{'width':'200px'}"></p-column>
                                    <p-column field="companyName" header="{{l('Company Name')}}" [sortable]="true" [style]="{'width':'200px'}"></p-column>
                                    <p-column field="attentionName" header="Attention Name" [sortable]="true" [style]="{'width':'150px'}"></p-column>
                                    <p-column field="salesPersonName" header="Salesperson" [sortable]="true" [style]="{'width':'150px'}"></p-column>
                                    <p-column field="optional" header="AUTO" [sortable]="true" [style]="{'width':'100px'}">
                                        <ng-template let-record="rowData" pTemplate="body">
                                            <span class="label label-success" *ngIf="record.optional">{{l('Yes')}}</span>
                                            <span class="label label-default" *ngIf="!record.optional">{{l('No')}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="statusName" header="Quotation Status" [sortable]="true" [style]="{'width':'100px'}"></p-column>
                                    <p-column field="sCreationTime" header="Creation Time" [sortable]="true" [style]="{'width':'200px'}"></p-column>
                               </p-dataTable>
                            <div class="primeng-paging-container">
                                <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                     #paginator
                                     (onPageChange)="getQuotation($event)"
                                     [totalRecords]="quotationArrayCount"
                                     [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                   {{l('TotalRecordsCount', quotationArrayCount)}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
    </tabset>
    <!-- <editEnqQuotationModal #editEnqQuotationModal ></editEnqQuotationModal> -->
</div>
<createInquiryModal #createInquiryModal (modalSave)="getInquiry()"></createInquiryModal>
<archievedInquiryModal #archievedInquiryModal></archievedInquiryModal>
<createSalesModal #createSalesModal (modalsave)="getInquiry()"></createSalesModal>
<router-outlet></router-outlet>