<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content main-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <span *ngIf="attributeGroup.id">{{l("Edit Attribute Group")}} : {{attributeGroup.attributeGroupName}}</span>
                    <span *ngIf="!attributeGroup.id">{{l("Create New Attribute Group")}}</span>
                </h4>
            </div>
            <form *ngIf="active" #createattributeGroupForm="ngForm" novalidate (ngSubmit)="save()">
                        <div class="modal-body" *ngIf="!attributeGroup.id">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input #nameInput class="form-control" type="text" name="code" [ngClass]="{'edited':attributeGroup.attributeGroupCode}" [(ngModel)]="attributeGroup.attributeGroupCode" required>
                                <label>{{l("AttributeGroupCode")}}  <required_field></required_field></label>

                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="name" [ngClass]="{'edited':attributeGroup.attributeGroupName}" [(ngModel)]="attributeGroup.attributeGroupName" required>
                                <label>{{l("AttributeGroupName")}}  <required_field></required_field></label>
                            </div>

                        </div>
                        <div class="modal-footer" *ngIf="!attributeGroup.id">
                            <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                            <button type="submit" class="btn btn-primary blue" [disabled]="!createattributeGroupForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                        </div>
            </form>
            <tabset class="tab-container tabbable-line" #activeTabAttGroup *ngIf="attributeGroup.id">

                <tab heading="Attribute Group Detail">
                    <form *ngIf="active" #createattributeGroupForm="ngForm" novalidate (ngSubmit)="save()">
                        <div class="modal-body">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input #nameInput class="form-control" type="text" name="code" [ngClass]="{'edited':attributeGroup.attributeGroupCode}" [(ngModel)]="attributeGroup.attributeGroupCode" required>
                                <label>{{l("AttributeGroupCode")}}  <required_field></required_field></label>

                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="name" [ngClass]="{'edited':attributeGroup.attributeGroupName}" [(ngModel)]="attributeGroup.attributeGroupName" required>
                                <label>{{l("AttributeGroupName")}}  <required_field></required_field></label>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                            <button type="submit" class="btn btn-primary blue" [disabled]="!createattributeGroupForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                        </div>
                    </form>
                </tab>

                <tab heading="Attribute Detail" *ngIf="attributeGroup.id">
                    <form #addattributeGroupForm="ngForm" novalidate (ngSubmit)="attributeSave()">
                      <div class="modal-body">
                             <div class="list-group">
                                    <a *ngFor="let attribute of attributes_detail" href="javascript:;" class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            {{attribute.attributeName}}
                                            <button style="float: right;margin-top: -5px;height:30px;width: 30px;" type="button" class="btn btn-circle btn-icon-only red delete-person" *ngIf="isGranted('Pages.Tenant.ProductFamily.ProductAttributeGroup.Edit.AttributeDetail.Delete')" (click)="deleteAttribute(attribute)"><i class="icon-trash"></i></button>
                                        </h5>
                                        
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <ng-select [active]="active_attribute" [allowClear]="true" [items]="attributes" (selected)="selectedAttribute($event)" (removed)="removeAttribute($event)" placeholder="Select Attribute">
                                        </ng-select>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" [disabled]="!attributeGroupDetail.attributeId" class="btn btn-circle btn-icon-only blue"><i class="fa fa-floppy-o"></i></button>
                                    </div>
                                </div>
                      </div>    
                    </form>
                </tab>

            </tabset>
        </div>
    </div>
</div>