<div [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>View</span> <small>Details ({{datas.length}})</small>
                    </h1>
                </div>
            </div>
        </div>
        <!-- <div class="col-xs-6 text-right">
             <button class="btn btn-primary blue" (click)="createview()"><i class="fa fa-plus"></i> Create New </button> 
        </div> -->
    </div>

    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form">
                    <div class="form-body">
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <div class="inputs inputs-full-width">
                                    <div class="portlet-input">
                                        <div class="input-group">
                                            <input [(ngModel)]="filter" name="filter" (keyup.enter)="getview()" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                            <span class="input-group-btn">
                                           <button  (click)="getview()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="list-group">
                <a *ngFor="let view of datas" href="javascript:;" class="list-group-item">
                    <div *ngIf="!view.isEditable"  class="ribbon"><span>System</span></div>
                    <div style="margin-left: 25px;">
                         <h4 class="list-group-item-heading">
                        {{view.name }}
                         <button *ngIf="view.isEditable" [disabled]="!isGranted('Pages.Tenant.Report.ViewEditor.Edit')" (click)="editview(view)" title="{{l('Edit')}}" class="btn btn-circle btn-icon-only green edit-person">
                                <i class="icon-pencil"></i>
                            </button>
                            <button *ngIf="view.isEditable" [disabled]="!isGranted('Pages.Tenant.Report.ViewEditor.Delete')" (click)="deleteview(view)" title="{{l('Delete')}}" class="btn btn-circle btn-icon-only red delete-person" href="javascript:;">
                                <i class="icon-trash"></i>
                            </button> 
                    </h4>
                    <p class="list-group-item-text">
                        {{view.creationTime}}
                    </p>
                    <p class="list-group-item-text">
                        {{view.createdBy}}
                    </p>
                    </div>
                   
                </a>
            </div>

        </div>
    </div>
    <createViewModal #createViewModal (modalSave)="getview()"></createViewModal>
</div>
<style>
   .ribbon {
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: 1;
    overflow: hidden;
    width: 55px;
    height: 51px;
    text-align: right;
  }
  .ribbon span {
    font-size: 9px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 15px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 80px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 11px;
    left: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
  }
    </style>