<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modalOverlay" style="background:rgba(0,0,0,.5); top:0px; left:0px; width:100%; height:100%; z-index:99;position: fixed;"></div>
    <div class="modal-dialog" style="width:70%;z-index: 99999;">

        <div class="modal-content">


            <div class="modal-header">
                <a class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </a>
                <h4 class="modal-title">
                    <span> Discussions : </span>
                </h4>

            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="scroller" style="height: 300px;overflow-y: auto;padding:10px;" data-always-visible="1" data-rail-visible1="1">
                        <ul class="chats">
                            <div *ngFor="let comment of comments" class="ng-scope">
                                <li *ngIf="comment.createdId != comment.sessionId" class="out ng-scope">
                                    <img class="item-pic rounded" *ngIf="comment.profilePicture" [src]="'data:image/jpeg;base64,'+comment.profilePicture" alt="" style="width:30px; float:right;">
                                    <img *ngIf="!comment.profilePicture" style="width:30px; float:right;" src="/assets/common/images/default-profile-picture.png" />
                                    <div class="message">
                                        <span class="arrow"> </span>
                                        <span>  {{comment.message}}  </span>
                                        <span style="color:blueviolet" class="datetime ng-binding">  {{comment.creationTime._d }} </span>
                                    </div>
                                </li>
                            </div>
                            <div *ngFor="let comment of comments" class="ng-scope">
                                <li *ngIf="comment.createdId == comment.sessionId" class="in ng-scope">
                                    <img class="item-pic rounded" *ngIf="comment.profilePicture" [src]="'data:image/jpeg;base64,'+comment.profilePicture" alt="" style="width:30px; float:left;">
                                    <img *ngIf="!comment.profilePicture" style="width:30px; float:left;" src="/assets/common/images/default-profile-picture.png" />
                                    <div class="message">
                                        <span class="arrow"> </span>
                                        <span>  {{comment.message}}  </span>
                                        <span style="color:blueviolet" class="datetime ng-binding">  {{comment.creationTime._d }} </span>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="chat-form" style="background-color: #e9eff3;clear: both;margin-top: 15px;overflow: hidden;">
                <form class="ng-untouched ng-pristine ng-valid" #createcommentForm="ngForm" novalidate (ngSubmit)="save()">
                    <div class="row">
                        <div class="col-md-12">
                            <label style="float: left;">Message </label>
                            <textarea style="min-height: 70px;" class="form-control ng-pristine ng-untouched ng-valid" id="messageBody" name="Remarks" [(ngModel)]="comment" placeholder="type a comment here ..." type="text"></textarea>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary blue" [disabled]="!createcommentForm.form.valid" [buttonBusy]="sending" [busyText]="l('SavingWithThreeDot')" style="float:left"><i class="fa fa-save"></i> <span>{{l("Send")}}</span></button>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>