<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" style="width: 57%;">
        <div class="modal-content main-content">
            <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span *ngIf="productSpecification.id">{{l("Edit ProductSpecification")}}: {{productSpecification.name}}</span>
                        <span *ngIf="!productSpecification.id">{{l("Create New ProductSpecification")}}</span>
                    </h4>
                </div>
                <form *ngIf="active && !productSpecification.id" #createproductSpecificationForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="row">
                                       
												<div class="col-md-5">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                        <input #nameInput class="form-control" type="text" name="name" [ngClass]="{'edited':productSpecification.name}" [(ngModel)]="productSpecification.name" required>
                                                        <label>{{l("Name")}}  <required_field></required_field></label>
                                
                                                    </div>
													</div>
													<div class="col-md-5">
                                                    <div class="">
                                                        <label>{{l("Product Group")}}</label>
                                                        <ng-select [active]="active_family" [allowClear]="true" [items]="productFamily" (selected)="selectedFamily($event)" (removed)="removeFamily($event)" [disabled]="productSpecification.id" placeholder="Select Product Group">
                                                        </ng-select>
                                                    </div>
													</div>
                                        
                                                    <div class="col-md-2">
                                                        <label>{{l("Bafco Made")}}</label>
                                                        <div class="md-checkbox" style="margin-top:14px;">
                                                            <input id="BafcoMade" class="md-check" type="checkbox" name="BafcoMade" [(ngModel)]="productSpecification.bafcoMade">
                                                            <label for="BafcoMade">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>                                                            
                                                            </label>
                                                        </div>
                                                        
                                                    </div>
                                                    

                                                                                     
											<div class="col-md-12 form-group">
												<label>Description</label>
												<p-editor [(ngModel)]="productSpecification.description" name="HtmlEditorInput" [style]="{'min-height':'100px'}"></p-editor>
											 </div>
                                    
										
                                </div>                                        
                        </div>
                    </div>                   
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!createproductSpecificationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
            <tabset  class="tab-container tabbable-line" #staticTabs *ngIf="productSpecification.id">
            <tab heading="ProductSpecification" active="active">    
            <form *ngIf="active" #createproductSpecificationForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                                    <div *ngIf="productSpecification.id">
                                        <div class="col-md-6">
                                            <div *ngIf="!pictureFileName">
                                                <img  src="/assets/common/images/default-profile-picture.png" width="150" height="150" alt="product-pic" class="poduct-img">
                
                                            </div>
                                            <div *ngIf="pictureFileName">
                                                <img  src="{{temporaryPictureUrl}}" alt="product-pic" width="150" height="150" class="poduct-img">                                                                    
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group" style="margin-left:13px;">
                                                    <!-- <input style="padding-top: 24px" type="file" ng2FileSelect [uploader]="imguploader"/> -->
                                                    <div class="box">
                                                        <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" ng2FileSelect [uploader]="imguploader"/>
                                                        <label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose a file&hellip;</span></label>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-md-9">
										<div class="row">                                      
												<div class="col-md-12">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                        <input #nameInput class="form-control" type="text" name="name" [ngClass]="{'edited':productSpecification.name}" [(ngModel)]="productSpecification.name" required>
                                                        <label>{{l("Name")}}  <required_field></required_field></label>
                                
                                                    </div>
                                                    </div>
                                                </div>                                                
                                                    <div class="row">                                                       
													<div class="col-md-12">
                                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                        <label>{{l("Product Group")}}</label>
                                                        <ng-select [active]="active_family" [allowClear]="true" [items]="productFamily" (selected)="selectedFamily($event)" (removed)="removeFamily($event)" [disabled]="productSpecification.id" placeholder="Select Product Group">
                                                        </ng-select>
                                                    </div>
													</div>
                                        </div>		
                                        <div class="row"> 
                                                <div class="col-md-1">
                                                        <div class="md-checkbox">
                                                            <input id="BafcoMade" class="md-check" type="checkbox" name="BafcoMade" [(ngModel)]="productSpecification.bafcoMade">
                                                            <label for="BafcoMade">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>                                                            
                                                            </label>
                                                        </div>
                                                </div>
                                                <div class="col-md-4">
                                                        <label>{{l("Bafco Made")}}</label>
                                                 </div>
                                        </div>						
                        </div>
                    </div> 
							<div class="row">
							<div class="col-md-12 form-group">
									<label>Description</label>
									<p-editor [(ngModel)]="productSpecification.description" name="HtmlEditorInput" [style]="{'min-height':'100px'}"></p-editor>
							</div>
							</div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!createproductSpecificationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
            </tab>
            <tab heading="ProductSpecification Group Detail" *ngIf="productSpecification.id">
                <div class="row" style="margin-top: -20px;">
                    <div class="col-md-6">
                        <h5  style="margin-left: 14px;">Available : &nbsp;<span style="font-weight: 600;color: blue;">({{available}})</span></h5> 
                        <h5  style="margin-left: 14px;">Created : &nbsp;<span style="font-weight: 600;color: blue;">({{created}})</span>    </h5>                                              
                    </div>
                    <div class="col-md-6">
                            <div>
                                    <button tooltip="Deselect All" type="button" class="btn btn-circle btn-icon-only " (click)="uncheckAll()" style="float: right;margin-right: 40px;">
                                        <i class="fa fa-minus-square" aria-hidden="true"></i>   
                                    </button>
                                </div>
                    </div>
                    
                </div>
                <form #addspecificationForm="ngForm" novalidate (ngSubmit)="specificationGroupSave()">
                  <div class="modal-body">  
                        <div class="portlet-body">
                            <div class="list-group" >
                                <div *ngFor="let specification of specificationDetails;let j=index;" class="list-group-item" style="padding: 2px 5px 1px 5px;" >
                                    <div class="speci_list">
                                    <h4 class="list-group-item-heading" style="margin: 0px;">
                                        <div class="col-md-6"><h5>{{specification.name}}</h5></div>
                                        <div class="col-md-6">
                                        <button type="button" (click)="expand_group(j)" title="{{l('Expand')}}" class="btn btn-circle btn-icon-only blue text-right" style="left:89%;width: 30px;height: 30px;">
                                            <i class="fa fa-th-list"></i>
                                        </button>
                                        </div>
                                    </h4>
                                    </div>
                                    <div>
                                    <table class="table table-bordered" *ngIf="expand && j==expand_index" style="margin-top: 10px;">
                                        <thead>
                                            <th style="width:40px;">SI.No</th>
                                            <th style="text-align:center;">Product Attribute</th>
                                        </thead>
                                        <tbody>
                                            <tr style="background: rgba(214, 214, 214, 0.78);" *ngFor="let att_group of specification.attributeGroups; let i=index;">
                                               <td style="text-align:center;">{{i+1}}</td> 
                                               <td>
                                                 <div class="md-checkbox-list" style="display:inline-block;">
                                                        <div class="md-checkbox" style="padding-right:30px;">
                                                            <input id="EditUser_{{att_group.attributeId}}" class="md-check" type="checkbox" name="{{att_group.attributeId}}" [(ngModel)]="att_group.selected" (change)="checked(att_group.selected,att_group,specificationDetails)">
                                                            <label attr.for="EditUser_{{att_group.attributeId}}">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>                                                            
                                                            </label>
                                                        </div>
                                                    </div>
                                               {{att_group.attributeName }}({{att_group.attributeCode}}) 
                                               <img *ngIf="att_group.imgPath" style="float:right;" src="{{path+att_group.imgPath}}" width="180" height="40" >
                                               </td> 
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
				   <div class="row">
                     <div class="col-md-6">
                      <tr style="font-weight: 400;font-size:25px;"><td>
                        <button *ngIf="gen_but_enble" [disabled]="productSpecification.reset"   type="button" class="btn btn-danger" (click)="saveProduct()">Reset</button>                          
                        <button *ngIf="!gen_but_enble" [disabled]="productSpecification.reset"   type="button" class="btn btn-primary" (click)="saveProduct()">save</button>
                        
                     </div>
                     <div class="col-md-6" >
                            <button style="float: right;" *ngIf="!productSpecification.reset"  [disabled]="created == available || available == 0 " type="button" class="btn btn-primary" (click)="generateProduct()">Generate</button>                            					
                            <button style="float: right;" *ngIf="productSpecification.reset"  type="button" class="btn btn-danger" (click)="regenerateProduct()">ReGenerate</button>                            					                            
                        </div>
                   </div>
                   <div class="row" *ngIf="progress_view">
                       	<div   class="progress" style="margin-left: 113px;
                           margin-right: 150px;
                           border-radius: 10px !important;
                           border: 0px solid">
							 <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [attr.aria-valuenow]="progress_percent" aria-valuemin="0" aria-valuemax ="100" style="min-width: 2em;" [style.width]="progress_percent+ '%'">
							  {{progress_percent}}%
							 </div>
						</div> 
                   </div>                        
                   <small *ngIf="gen_but_enble" style="color: red;">(please select atleast one item in the AttributeGroup)</small>

                  </div>    
                </form>
            </tab>            
                      <tab heading="Product" *ngIf="productSpecification.id">
                           <div class="portlet light margin-bottom-0" style="background:none;">
                               <div class="portlet-body">                              
                                           <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                                            <p-dataTable #newTable
                                                         (onLazyLoad)="getProduct($event)"
                                                         [value]="primengDatatableHelper.records"
                                                         rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                         [paginator]="false"
                                                         [lazy]="true"
                                                         emptyMessage="{{l('NoData')}}"
                                                         [responsive]="primengDatatableHelper.isResponsive">
                                                <!-- <p-footer>
                                                    {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                                                </p-footer> -->
                        
                                                <p-column field=""
                                                header="{{l('Actions')}}"
                                                [sortable]="false"
                                                [style]="{'width':'75px'}"
                                                >
              
                                          <ng-template let-record="rowData" pTemplate="body">
                                              <div class="btn-group dropdown mydropdown">
                                                  <button class="dropdown-toggle btn btn-xs btn-primary blue"
                                                          data-toggle="dropdown"
                                                          tooltip="{{l('Actions')}}"
                                                          aria-haspopup="true"
                                                          aria-expanded="false">
                                                      <i class="fa fa-cog"></i><span class="caret"></span>
                                                  </button>
                                                  <ul class="dropdown-menu">
                                                      <li *ngIf="isGranted('Pages.Tenant.ProductFamily.Products.Edit')">
                                                          <a (click)="editProduct(record)">{{l('Edit')}}</a>
                                                      </li>
                                                      <li *ngIf="isGranted('Pages.Tenant.ProductFamily.Products.Delete')">
                                                          <a (click)="deleteProduct(record)">{{l('Delete')}}</a>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </ng-template>
                                      </p-column>
                                                
                                                <p-column field="Product Code" header="{{l('Product Code')}}" [sortable]="false" [style]="{'width':'250px'}">
                                                    <ng-template let-record="rowData" pTemplate="body">
                                                        <span>
                                                        {{record.productCode}}
                        
                                                    </span>
                                                    </ng-template>
                                                </p-column>
                        
                                                <p-column field="Product Specification" header="{{l('Product Specification')}}" [sortable]="false">
                                                    <ng-template let-record="rowData" pTemplate="body">
                                                        <span>
                                                        {{record.productSpecificationName}}
                        
                                                    </span>
                                                    </ng-template>
                                                </p-column>
                                                
                                                <p-column field="creation_time" header="{{l('Creation Time')}}" [sortable]="false">
                                                <ng-template let-record="rowData" pTemplate="body">
                                                        <span>
                                                        {{record.creationTime}}
                        
                                                    </span>
                                                    </ng-template>
                                                </p-column> 
                                                <p-column field="InQuotation" header="{{l('InQuotation')}}" [sortable]="false" [style]="{'width':'100px'}">
                                                    <ng-template let-record="rowData" pTemplate="body">
                                                        <span>
                                                           <i *ngIf="record.inQuotationProduct" class="fa fa-check-circle-o" style="font-size: 25px;color: #0fb11c;margin-left: 20px;"></i>
                                                           <i *ngIf="!record.inQuotationProduct" class="fa fa-check-circle-o" style="font-size: 25px;color: #80808057;margin-left: 20px;"></i>
                                                        </span>
                                                    </ng-template>
                                                </p-column>                  
                                             </p-dataTable>
                                            <div class="primeng-paging-container">
                                                <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                             #paginator
                                                             (onPageChange)="getProduct($event)"
                                                             [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                                             [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                                                </p-paginator>
                                                <span class="total-records-count">
                                                    {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                                                </span>
                                            </div>
                                        </div>
           
                               </div>
                           </div>
                       </tab>
            </tabset>
        </div>
    </div>
</div>
<createEditProductModal #createEditProductModal (modalSave)="getProduct()">
</createEditProductModal>
<style>
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 150px;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    padding-right: 28px;
    margin-top: 10px;}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #414996;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}
</style>