<div [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>Location</span> <small>Details({{primengDatatableHelper.totalRecordsCount}})</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
                <button title="Create New" *ngIf="isGranted('Pages.Tenant.Geography.Location.Create')" (click)="createLocation()" class="btn btn-circle btn-icon-only blue"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form">
                    <div class="form-body">
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <div class="inputs inputs-full-width">
                                    <div class="portlet-input">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getLocation()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                    <p-dataTable #dataTable
                                 (onLazyLoad)="getLocation($event)"
                                 [value]="primengDatatableHelper.records"
                                 rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="true"
                                 emptyMessage="{{l('NoData')}}"
                                 [responsive]="primengDatatableHelper.isResponsive">
                        
                        <p-column field=""
                                  header="{{l('Actions')}}"
                                  [sortable]="false"
                                  styleClass="width-percent-15"
                                >
                            <ng-template let-record="rowData" pTemplate="body">
                                <div class="btn-group dropdown mydropdown">
                                    <button class="dropdown-toggle btn btn-xs btn-primary blue"
                                            data-toggle="dropdown"
                                            tooltip="{{l('Actions')}}"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fa fa-cog"></i><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li *ngIf="isGranted('Pages.Tenant.Geography.Location.Edit')">
                                            <a (click)="editLocation(record)">{{l('Edit')}}</a>
                                        </li>
                                        <li *ngIf="isGranted('Pages.Tenant.Geography.Location.Delete')">
                                            <a (click)="deleteLocation(record)">{{l('Delete')}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column field="Location Name" header="{{l('Location Name')}}" [sortable]="false">
                            <ng-template let-record="rowData" pTemplate="body">
                            <span>
                                {{record.locationName}}

                            </span>
                            </ng-template>
                        </p-column>


                        <p-column field="Location Code" header="{{l('Location Code')}}" [sortable]="false">
                            <ng-template let-record="rowData" pTemplate="body">
                                <span>
                                {{record.locationCode}}

                            </span>
                            </ng-template>
                        </p-column>

                        <p-column field="City Name" header="{{l('City Name')}}" [sortable]="false">
                            <ng-template let-record="rowData" pTemplate="body">
                                <span>
                                {{record.cityName}}

                            </span>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                    <div class="primeng-paging-container">
                        <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                     #paginator
                                     (onPageChange)="getLocation($event)"
                                     [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                     [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                        </p-paginator>
                        <span class="total-records-count">
                            {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                        </span>
                    </div>
                </div>
        </div>
    </div>
    <createLocationModal #createLocationModal (modalSave)="getLocation()">
    </createLocationModal>
</div>