<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #createcountryForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span *ngIf="country.id">{{l("Edit Country")}}: {{country.countryName}}</span>
                        <span *ngIf="!country.id">{{l("Create New Country")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input #nameInput class="form-control" type="text" name="code" [ngClass]="{'edited':country.countryCode}" [(ngModel)]="country.countryCode" required>
                        <label>{{l("countryCode")}}  <required_field></required_field></label>

                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="name" [ngClass]="{'edited':country.countryName}" [(ngModel)]="country.countryName" required>
                        <label>{{l("CountryName")}}  <required_field></required_field></label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="isdcode" [ngClass]="{'edited':country.isdCode}" [(ngModel)]="country.isdCode" required>
                        <label>{{l("ISDCode")}}  <required_field></required_field></label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!createcountryForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>