<div [@routerTransition]>
    <div class='media-body'>
    <div class="row margin-bottom-5">
        <div class="col-xs-7">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>Forecast</span> <small>Kanban </small>
                    </h1>
                </div>
            </div>
        </div>
       
            <div class="col-xs-5 text-right">
                    <button class="btn btn-primary blue" (click)="Advanced();"><i class="fa fa-filter" aria-hidden="true"></i>                    </button>

                    <button class="btn btn-primary blue" [routerLink]="['/app/main/forecastReport']" ><i class="fa fa-list"></i>Forecast Report</button>
            </div> 
        
    </div> 
   </div> 
   <div class="portlet light margin-bottom-0" *ngIf="AdvancedFilter" >
    <span>Advanced Filter</span>
    <form class="horizontal-form">
        <div class="form-body">                       
            <div class="row margin-bottom-10">
                 <div class="col-md-2">
                    <ng-select [active]="active_team" [disabled]="!isGranted('Pages.Tenant.Report.Forecast.Kanban.Team')" [allowClear]="true" [items]="teams" (selected)="selectedTeam($event)" (removed)="removedTeam($event)" (data)="refreshTeam($event)" placeholder="Select A Team"></ng-select>
                 </div>
                 <div class="col-md-2">
                         <ng-select [active]="active_view" [disabled]="!isGranted('Pages.Tenant.Report.Forecast.Kanban.Sales')" [allowClear]="true"  [items]="sales" (selected)="selectSales($event)" (removed)="removeSales($event)" placeholder="Select A Account Manager">
                        </ng-select> 
                 </div> 
                
                 <div class="col-xs-2" *ngIf="this.showdata==true">     
                    <my-monthpicker id="monthPickerval" name="monthpicker" value={{closureDate}} (dateChange)="onDateChange($event)"></my-monthpicker>        
                </div> 
                <div class="col-md-2">
                    <ng-select  [allowClear]="true"  [items]="type" (selected)="selectType($event)" (removed)="removeType($event)" placeholder="Select A Type">
                   </ng-select> 
                 </div> 
                 <div class="col-md-1" style="margin-top: -20px;width: 200px;">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input #nameInput class="form-control" [disabled]="!typeId"  type="text"  [ngClass]="{'edited': from}" [(ngModel)]="from" name="from">
                                <label *ngIf="typeId != 4">{{l("Value")}}</label>
                                <label *ngIf="typeId == 4">{{l(" Value From")}}</label>
                            </div>
                </div>  
                <div class="col-md-1" style="margin-top: -20px;width: 200px;">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input [disabled]="typeId != 4" #nameInput class="form-control"  [ngClass]="{'edited':to}" [(ngModel)]="to"  type="text" name="to">
                                <label>{{l("To")}}</label>
                            </div>
                </div>  
               
                 <div class="col-md-1"> 
                    <button class="btn blue" (click)="Refresh()"><i class="fa fa-refresh"></i> {{l("Refresh")}}</button>
                </div>   

            </div>
        </div>
    </form>
   </div> 
   <div class="portlet light margin-bottom-0" *ngIf="this.showdata==false">
    <p>You dont have permission to see data</p>
   </div>   
   <div [busyIf]="loading" class='wrapper' *ngIf="this.showdata==true">
     <div class='dndcontainer' *ngFor='let group of groups'>
         <div class="itemHead">
           <h5><b>{{group.monthName}} ({{group.getTicketReservation.length}})</b></h5>
           <h5><span style="float: left;" *ngIf="group.totalValueformat !='0'"> {{group.totalValueformat}}</span>
           <span style="float: right;" *ngIf="group.totalValueformat !='0'"> {{group.weightValueformat}}</span></h5> 
        </div><br>
            <div id="style-1" class="desk-items" [dragula]='"nested-bag"' [attr.data-type]="non-status" [attr.data-updateDate]="group.currentDate">
                <a id="cart" (dblclick)="goToLead(item)" *ngFor="let item of group.getTicketReservation" [ngStyle]="{'background':item.enqStageColor?item.enqStageColor:'','border-style':item.enqStageColor?'solid':'none','border-width':'0px'}" [attr.data-itemId]="item.id" [attr.data-type]="non-status" class="deskItem">
                    <img *ngIf="item.tender" data-placement="right"  height="15" id="HeaderProfilePicture" style="margin-top: -10px;" width="15"  tooltip="Tender" src="/assets/common/images/tender.svg">                  
                    <span *ngIf="item.starred" style="cursor: pointer;" class="star on" data-placement="left" tooltip="Star Lead ({{item.weightedvalue}}%)"></span>
                    <div class="ddns">
                            <small style="font-weight: 600">{{item.companyName}}</small><br>
                            <small style="color: black;font-size: 12px;font-weight: 400;">{{item.mileStoneName}}</small>
                      
                        <p class="ddns"> 
                            {{item.subMmissionId}}-
                             <small  style="font-weight: 400;" class="name">{{item.name}}</small><br>
                            </p>
                        <div class="ddns"  class="row" Id="quotlist">
                                <ul>                                      
                                    <div [innerHTML]="item.quotationshtml"></div>
                                </ul> 
                        </div>
                        <small class="ddns" *ngIf="item.teamName"> {{item.teamName}} ({{item.departmentName}})</small>   
                        <small style="color: darkblue;font-size: 14px;font-weight: 600;">{{item.amount}}&nbsp;({{item.weigntedAmount}})</small>                    
                        <span style="font-size: 12px;">{{item.address}}</span>
                        
                        <p>
                            <img *ngIf="item.coordinator"  class="img-circle" height="30" id="HeaderProfilePicture" style="border: 1px solid #e0e6ec;float: right;margin-left: 10px" width="30"  tooltip="{{item.coordinator}}" src="{{path+item.coordinatorImage}}">                  
                            <img *ngIf="item.salesPerson"  class="img-circle" height="30" id="HeaderProfilePicture" style="border: 1px solid #e0e6ec;float: right;margin-left: 10px" width="30"  tooltip="{{item.salesPerson}}" src="{{path+item.salesPersonImage}}">
                            <img *ngIf="item.designer"  class="img-circle" height="30" id="HeaderProfilePicture" style="border: 1px solid #e0e6ec;float: right;margin-left: 10px" width="30"  tooltip="{{item.designer}}" src="{{path+item.designerImage}}">                  
                            <small style="background: #fff;padding: 2px;border: 1px solid #000;border-radius: 3px;" class="statusmessage">{{item.sCreationTime}}</small>
                            <small style="background: #fff;padding: 2px;border: 1px solid #000;border-radius: 3px;cursor: pointer;" class="statusmessage">{{item.stagePercent}} %</small>
                            <!-- <small *ngIf="item.designer" style="background: #000;color: #fff;padding: 2px;border: 1px solid #000;border-radius: 3px;" class="statusmessage">{{item.revision}}</small> -->
                            <!-- <i style="color: green;" *ngIf="item.isExpire == true" class="fa fa-exclamation-triangle"></i> -->
                            
                        </p>
                    </div>
                   
                </a>               
            </div>        
            <!-- <div class="itemHead">
                <h5><b style="float: right;margin-top: -5px;" *ngIf="group.totalValueformat !='0'"> {{group.weightValueformat}}</b></h5> 
                 </div><br> -->
                  
        </div>
           
    </div>

    <!-- <createInquiryModal #createInquiryModal (modalSave)="getTickets('')">
    </createInquiryModal> -->
    
</div> 

<router-outlet (deactivate)="kanbanActivate($event)"></router-outlet>