<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #createcityForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span *ngIf="city.id">{{l("Edit City")}}: {{city.cityName}}</span>
                        <span *ngIf="!city.id">{{l("Create City")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input #nameInput class="form-control" type="text" name="code" [ngClass]="{'edited':city.cityCode}" [(ngModel)]="city.cityCode" required>
                        <label>{{l("CityCode")}}</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="name" [ngClass]="{'edited':city.cityName}" [(ngModel)]="city.cityName" required>
                        <label>{{l("CityName")}}</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>Country</label>
                        <ng-select [active]="active_country" [allowClear]="true" [items]="countrys" (selected)="doSomething($event)" (removed)="removeCountry($event)" placeholder="Nothing is selected">
                        </ng-select>
                        <!--<select #cityCombobox id="yourDropDownElementId" name="country" class="form-control" [(ngModel)]="SelectedCountry" [attr.data-live-search]="true" (change)="doSomething(SelectedCountry)" jq-plugin="selectpicker" required>
                            <option [value]="SelectedCity">{{SelectedCityName}}</option> 
                            <option *ngFor="let country of countrys" [value]="country.id">{{country.name}}</option> 
                        </select>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!createcityForm.form.valid || !city.countryId" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>