<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <form #createproductForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                        
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="btn-group mydropdown" *ngIf="!productInput.id" style="float: right;margin-right: 30px;">
                            <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> 
                                <span>Filter <span style="color: green" *ngIf="advancedSearch"> ON</span><span style="color: red" *ngIf="!advancedSearch"> OFF</span> </span>
                                <i class="fa fa-filter" aria-hidden="true"></i>
                            </a>    
                            <ul class="dropdown-menu text-right">
                                    <li>
                                        <a href="javascript:;" (click)="search_preview(1)">ON</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" (click)="search_preview(2)">OFF</a>
                                    </li>
                                </ul>                               
                        </div>
                    <h4 class="modal-title">
                        <span *ngIf="productInput.id">{{l("Edit Quotation Product")}} <small class="badge" *ngIf="productInput.discountable">Discountable Product</small></span>
                        <span *ngIf="!productInput.id">{{l("Create Quotation Product ")}}<small class="badge" *ngIf="productInput.discountable">Discountable Product</small></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                            <div class="row" *ngIf="!advancedSearch">
                                    <div class="col-md-10" style="text-align: center;"  [ngClass]="{'no-edit': productInput.id}">
                                            <div class="md-radio-list" style="margin-left: 10%; margin-top: 24px;">
                                                    <div class="md-radio" *ngFor="let option  of arr" style="padding-right: 100px; width: auto; display: inline-block;">
                                                        <input id="EditUser_{{option.name}}"  type="radio" class="md-radio" name="price" [(ngModel)]="type"
                                            [checked]="option.name == type"
                                            value= {{option.name}} (click)=changeProductType(option.id)>
                                                        <label for="EditUser_{{option.name}}">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            {{option.name}}
                                                        </label>
                                                    </div>
                                                </div>
                                    </div>
                                    <div *ngIf="!productInput.id || activeTempProduct || custom" class="col-md-2" style="margin-top: 15px;">
                                        <div class="btn-group mydropdown">
                                            <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false" (click)= "createOrEditProduct(activeTempProduct)"> 
                                                <span *ngIf="!productInput.id">Create Product</span>
                                                <span *ngIf="productInput.id && !activeTempProduct">Edit Custom Product</span>
                                                <span *ngIf="productInput.id && activeTempProduct">Edit Non Standard</span>
                                            </a>                                   
                                        </div>
                                  </div>
                            </div>
                        <div class="row" style="background: #e4e2e2; border: 1px solid #d6d6d6;border-radius:  10px;padding: 10px;"> 
                         <div *ngIf="!advancedSearch">         
                            <div class="col-md-6" style="margin-top: -20px;" *ngIf="!activeTempProduct">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint bidselect2">
                                    <label>Product <required_field></required_field></label>&nbsp;&nbsp;&nbsp;
		                            <ng-select style="background: #2597cc;color: black;" [allowClear]="true"  [active]="active_product" [items]="product_arr" (data)="refreshValue($event)"(selected)="selectProduct($event)" (removed)="removeProduct($event)" (typed)="typed($event)" placeholder="Select Standard Product">
                                     </ng-select>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: -20px;" *ngIf="activeTempProduct">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint bidselect2">
                                    <label>Product <required_field ></required_field></label>&nbsp;&nbsp;&nbsp;
                                    <ng-select style="background: #2597cc;color: black;" [allowClear]="true" [disabled]="product.temporaryProductId || product.locked" [active]="active_temproduct" [items]="temporaryProduct" (data)="refreshTempProduct($event)" (selected)="selectTempProduct($event)" (removed)="removeTempProduct($event)" (typed)="typedTempProduct($event)" placeholder="Select NonStandard Product">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top: 21px;">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>Section<required_field></required_field></label>
                                    <ng-select [active]="active_section" [allowClear]="true" [items]="section" (selected)="selectSection($event)" (removed)="removeSection($event)" placeholder="Nothing is Selected">
                                    </ng-select>
                                </div>
                            </div>
                            <!-- <div *ngIf="!productInput.id || activeTempProduct || custom" class="col-md-2" style="margin-top: 15px;">
                                  
                                <div class="form-group form-md-line-input form-md-floating-label no-hint bidselect2">
                                        <label  *ngIf="!productInput.id">Create Product</label>
                                        <label  *ngIf="productInput.id">Edit Product</label>
                                        <br>
                                    <div class="btn-group mydropdown">
                                        <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false" (click)= "createOrEditProduct(activeTempProduct)"> 
                                            <span *ngIf="!activeTempProduct">Custom</span>
                                            <span *ngIf="activeTempProduct">Non Standard</span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>                                   
                                    </div>
                                </div>
                            </div> -->
                        </div>
                            <div>
                                    <div class="clearfix" *ngIf="advancedSearch">
                                            <div class="col-xs-12" style="margin-top: 40px;">
                                                <div class="portlet box" style="background: #EEF1F5;">
                                                    <div class="portlet-title" style="max-height: 0px;margin-top: -21px;">
                                                        <div class="caption" style="color: black;font-weight: 800;margin-top:-12px;text-align: center;width: 96%;">
                                                            <h5> <b>Advanced Product Search</b></h5>
                                                        </div>
                                                        <div class="tools">
                                                            &nbsp;&nbsp;
                                                            <i style="color:green;" class="fa fa-arrow-down" (click)="expandFilter()"><a>
                                                            </a></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12" style="background: #e4e2e2;margin-top: -6px;">
                                                    <div class="row" *ngIf="showFilter" style="margin: 10px;">
                                                        <div class="col-md-4">
                                                            <label>Product Category</label>
                                                                <ng-select [active]="active_prodCategory" [allowClear]="true" [items]="productCategory" (selected)="selectCategory($event)" (removed)="removeCategory($event)" placeholder="Nothing is Selected">
                                                                </ng-select>
                                                         </div>
                                                        <div class="col-md-4">
                                                            <label>Product Specification</label>
                                                                <ng-select [active]="active_prodSpecification" [disabled]="!productCategoryId" [allowClear]="true" [items]="productSpecification" (selected)="selectSpecification($event)" (removed)="removeSpecification($event)" placeholder="Nothing is Selected">
                                                                </ng-select>                                      
                                                        </div>
                                                        <div class="col-md-4">
                                                                    <label>Section<required_field></required_field></label>
                                                                    <ng-select [active]="active_section" [allowClear]="true" [items]="section" (selected)="selectSection($event)" (removed)="removeSection($event)" placeholder="Nothing is Selected">
                                                                    </ng-select>
                                                            </div>
                                                    </div>
                                                    </div>
                                                    <div class="portlet-body" *ngIf="showFilter">
                                                            <div class="form">
                                                                    <form class="horizontal-form">
                                                                        <div class="form-body" style="padding: 0px;">
                                                                            <div class="row margin-bottom-10">
                                                                                <div class="col-md-12">
                                                                                    <div class="inputs inputs-full-width">
                                                                                        <div class="portlet-input">
                                                                                            <div class="input-group">
                                                                                                <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" (keyup)="searchProducts()" type="text">
                                                                                                <span class="input-group-btn">
                                                                                                    <button (click)="searchProducts()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                        <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                                                            <p-dataTable #advancedataTable
                                                                
                                                                [value]="primengDatatableHelper.records"
                                                                rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                                [paginator]="false"
                                                                [lazy]="true"
                                                                emptyMessage="{{l('NoData')}}"
                                                                [responsive]="primengDatatableHelper.isResponsive">
                                                               
                                                                <p-column field="" header="{{l('')}}" [sortable]="false" [style]="{'width':'35px'}">                                                >
                                                                    <ng-template let-record="rowData" pTemplate="body">
                                                                         <!-- <span>
                                                                            <input type="radio" id="EditUser_{{record.id}}" class="md-radio" name="price" [(ngModel)]="selectedQuotationProductId" [checked]="record.id" value= {{record.id}}>
                                                                                <span class="inc"></span>
                                                                                <span class="check"></span>
                                                                                <span class="box"></span>
                                                                         </span> -->
                                                                         <div class="md-radio" style="padding-right: 100px; width: auto; display: inline-block;">
                                                                            <input id="EditUser_{{record.id}}"  type="radio" class="md-radio" name="price" [(ngModel)]="selectedQuotationProductId" [checked]="record.id" value= {{record.id}} (click)="clickProduct(record)">
                                                                            <label for="EditUser_{{record.id}}">
                                                                                <span class="inc"></span>
                                                                                <span class="check"></span>
                                                                                <span class="box"></span>
                                                                            </label>
                                                                        </div>
                                                                     </ng-template>
                                                                 </p-column>
                                                                 <p-column field="productImage" header="{{l('Image')}}" [sortable]="false" [style]="{'width':'70px','height':'100px'}">
                                                                    <ng-template let-record="rowData" pTemplate="body">
                                                                        <span>
                                                                                <img *ngIf="!record.productImage"  src="/assets/common/images/img-not-available.png" alt="product-pic" class="poduct-img" width="70" height="auto" />
                                                                                <img *ngIf="record.productImage"  src="{{path+record.productImage}}" alt="product-pic" class="poduct-img" width="70" height="auto" />
                                                                           </span>
                                                                    </ng-template>
                                                                </p-column> 
                                                                <p-column field="productCode" header="{{l('Product Codes')}}" [sortable]="false" [style]="{'width':'150px'}">

                                                                        <ng-template let-record="rowData" pTemplate="body">
                                                                     
                                                                                <span> Name : <span style="font-weight: 700;">{{record.productName}}</span></span><br>
                                                                                <span> Code : <span style="font-weight: 700;">{{record.productCode}}</span></span><br>
                                                                                <span> Supplier : <span style="font-weight: 700;">{{record.suspectCode}}</span></span><br>
                                                                                <span> Gp : <span style="font-weight: 700;">{{record.gpcode}}</span></span>

                                                                            </ng-template>
                                                                </p-column>
                                                                <p-column field="categoryName" header="{{l('Information')}}" [sortable]="false" [style]="{'width':'150px'}">
                                                                        <ng-template let-record="rowData" pTemplate="body">
                                                                                <span> Category : <span style="font-weight: 700;">{{record.categoryName}}</span></span><br>
                                                                                <span> Specification : <span style="font-weight: 700;">{{record.productSpecificationName}}</span></span><br>
                                                                                <span> Dimention : <span style="font-weight: 700;">{{record.dimention}}</span></span><br>
                                                                                <span> CreationTime : <span style="font-weight: 700;">{{record.screationTime}}</span></span>

                                                                            </ng-template>
                                                                </p-column>
                                                               
                                                                <p-column field="price" header="{{l('Price Details')}}" [sortable]="true" [style]="{'width':'100px'}">
                                                                        <ng-template let-record="rowData" pTemplate="body">
                                                                                <span> Discountable :
                                                                                    <i  *ngIf="!record.isDiscountable" style="color: gainsboro" class="fa fa-check-circle-o" aria-hidden="true"></i>
                                                                                    <i  *ngIf="record.isDiscountable" style="color: green" class="fa fa-check-circle-o" aria-hidden="true"></i>

                                                                                </span><br>
                                                                                <span> Bafco Made :
                                                                                        <i  *ngIf="!record.bafcoMade" style="color: gainsboro" class="fa fa-check-circle-o" aria-hidden="true"></i>
                                                                                        <i  *ngIf="record.bafcoMade" style="color: green" class="fa fa-check-circle-o" aria-hidden="true"></i>    

                                                                                </span><br>
                                                                                <span> Price : <span style="font-weight: 700;">{{record.price}} AED </span></span><br>
                                                                            </ng-template>
                                                                </p-column>
                                                            </p-dataTable>
                                                            <div class="primeng-paging-container">
                                                                <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}"
                                                                    #paginator
                                                                    (onPageChange)="searchProducts($event)"
                                                                    [totalRecords]="primengDatatableHelper.totalRecordsCount"
                                                                    [rowsPerPageOptions]="primengDatatableHelper.predefinedRecordsCountPerPage">
                                                                </p-paginator>
                                                                <span class="total-records-count">
                                                                    {{l('TotalRecordsCount', primengDatatableHelper.totalRecordsCount)}}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="number" name="quantity" [ngClass]="{'edited':productInput.quantity}" [(ngModel)]="productInput.quantity" (keyup)="getTotalAmount(productInput.unitOfPrice)" required>
                                    <label>{{l("Quantity")}}  <required_field></required_field></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                               <div class="col-md-6"> 
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="tel"  name="dis1" [ngClass]="{'edited':productInput.discount}" [(ngModel)]="productInput.discount"  (keyup)="getTotalAmount(productInput.unitOfPrice)" (keydown)="check($event)" maxlength="2"/>
                                    <label>{{l("Discount ")}} <small *ngIf="err_discount" style="color: red;"><u>(Discount is Excess)</u></small></label>
                                </div>
                                <!-- <div *ngIf="!productInput.discountable" class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" id="numIpt" name="discount" [ngClass]="{'edited':productInput.discount}" [(ngModel)]="productInput.discount"  maxlength="3" (keypress)="ForNumbers($event)" (keyup)="validDiscount()" (change)="getTotalAmount(productInput.unitOfPrice)" ><span class="percentage_input">%</span>
                                    <label>{{l("Discount ")}} <small *ngIf="productInput.discount>discountInput.unDiscountable" style="color: red;"><u>(Discount is Excess)</u></small></label>
                                </div> -->
                               </div>
                               <div class="col-md-6"> 
                                   <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input class="form-control" type="number" name="d_a" [ngClass]="{'edited':productInput.overAllDiscount}" [(ngModel)]="productInput.overAllDiscount" [disabled]="1">
                                        <label>{{l("Discount Amount")}}</label>
                                    </div>
                               </div> 
                                <!-- <span *ngIf="err_discount" style="color:red;background: #eee;">This discount Value must be less than or equal to {{discount_enter}}</span> -->
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="text" name="uom" [ngClass]="{'edited':productInput.unitOfMeasurement}" [(ngModel)]="productInput.unitOfMeasurement" required>
                                    <label>{{l("Unit of Measurement")}}  <required_field></required_field></label>
                                </div>
                            </div> -->
                            <div class="col-md-6">
                                <div class="col-md-6" style="padding-left: 0px;">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input class="form-control" type="number" name="uop" [ngClass]="{'edited':productInput.unitOfPrice}" [(ngModel)]="productInput.unitOfPrice" (keyup)="getTotalAmount(productInput.unitOfPrice)" [disabled]="productInput.productId || productInput.temporaryProductId" required>
                                        <label>{{l("Unit of Price")}}  <required_field></required_field></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input class="form-control" type="number" name="s_t" [ngClass]="{'edited':productInput.overAllPrice}" [(ngModel)]="productInput.overAllPrice" [disabled]="1">
                                        <label>{{l("Sub Total")}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <input class="form-control" type="number" name="t_amount" [ngClass]="{'edited':productInput.totalAmount}" [(ngModel)]="productInput.totalAmount" required>
                                    <label>{{l("Total Amount")}}  <required_field></required_field></label>
                                </div>
                            </div>
                           
                        </div>
                    </div> 
                    <!-- <div class="row">
                    <div class="col-md-6">
                        <label>Discount:</label>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" [(ngModel)]="productInput.discountable" (change)="getDiscount()" checked>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div> -->   
                </div>
                <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button> 
                        <button type="submit" class="btn btn-primary blue" [disabled]="!createproductForm.form.valid || !productInput.sectionId  || (!productInput.productId && !productInput.temporaryCode)" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                    </div>
            </form>
        </div>
    </div>
</div>
<createEditProductModal #createEditProductModal (modalSave)="show(productInput.id,productInput.quotationId)"></createEditProductModal>
<createTempProductModal #createTempProductModal (modalSave)="show(productInput.id,productInput.quotationId)"></createTempProductModal>