<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #productChangeModalForm="ngForm" (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("Quotation Product Change")}}</span>
                    </h4>
                </div> 

                <div class="modal-body">
                    <div class="col-md-12">
                        <!-- <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>{{l("Specification")}}  <required_field></required_field></label>
                                <ng-select [active]="active_specification" [allowClear]="true" [items]="specifications" (selected)="selectedSpecification($event)" (removed)="removeSpecification($event)" placeholder="Select Specification">
                                </ng-select>
                            </div>
                        </div> -->
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>{{l("Product")}}  <required_field></required_field></label>
                                <ng-select [active]="active_product" [allowClear]="true" [items]="products" (selected)="selectedProduct($event)" (removed)="removeProduct($event)" placeholder="Select Product">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default close-button" (click)="close()" [disabled]="saving">{{l("Cancel")}}</button>
                    <button type="submit" class="btn blue save-button" [disabled]="!productChangeModalForm.form.valid"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>