<div [@routerTransition]>

    <div class="row margin-bottom-3">
        <div class="col-xs-1">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>Sales</span> <small>Kanban </small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-2" >
            <div class="bidselect02" *ngIf="salesEnable > 1"> 
                <ng-select [allowClear]="true"  [active]="active_salesman" [items]="salesman" (selected)="selectSalesman($event)" (removed)="removeSalesman($event)" placeholder="SalesPerson"></ng-select>
            </div>
        </div>
        <div class="col-xs-2" >
            <div class="bidselect02" *ngIf="designerEnable > 1"> 
                <ng-select [allowClear]="true"  [active]="active_designer" [items]="designer" (selected)="selectDesigner($event)" (removed)="removeDesigner($event)" placeholder="Designer"></ng-select>
            </div>
        </div>
        <div class="col-xs-2" >
            <div class="bidselect02" *ngIf="coordinatorEnable > 1"> 
                <ng-select [allowClear]="true"  [active]="active_coordinator" [items]="coordinator" (selected)="selectCoordinator($event)" (removed)="removeCoordinator($event)" placeholder="Coordinator"></ng-select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="col-xs-11">
                <form>
                    <div class="input-group">
                        <input [(ngModel)]="filterText" (keyup)="getSearch(1)" name="filterText" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">

                        <span class="input-group-btn" style="vertical-align: top;">
                    <button (click)="getTickets(filterText)" class="btn btn-secondary" type="submit" title="clear"><i class="icon-magnifier"></i></button>

                </span>

                    </div>
                </form>
            </div>
            <div class="col-xs-1">
                <button (click)="getSearch(2)" class="btn btn-secondary" *ngIf="isShow" style="right: 26px;"><i class="fa fa-remove"></i></button>
            </div>
    </div>
    <div class="col-xs-2 text-right">
            <button (click)="createInquiry()" class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("Create New")}}</button>
            <a *ngIf="isGranted('Pages.Tenant.Enquiry.SalesEnquiry.Gridview')" class="btn btn-primary blue" [routerLink]="['/app/main/sales-grid']"><i class="fa fa-list"></i>{{l("Grid View")}} </a>
    </div>
    </div>
    <div [busyIf]="loading" class='wrapper'>
        <div class='dndcontainer {{group.class}}'   *ngFor='let group of groups'>
            <div class="itemHead">
                <h4> <b>{{group.name=='Assigned'?'New':group.name}} ({{group.getTicketReservation.length}})</b>
                </h4>
                <h5>  
                   <b style="float: left;" *ngIf="group.total != '0'"> AED {{group.total}}</b>
                   <!-- &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <span *ngIf="group.getTicketReservation.length && !group.isQuotation">{{group.getTicketReservation.length}} <span *ngIf="group.getTicketReservation.length >1">Leads</span> <span *ngIf="group.getTicketReservation.length == 1">Lead</span> </span>
                   <span *ngIf="group.getTicketReservation.length && group.isQuotation">{{group.getTicketReservation.length}} <span *ngIf="group.getTicketReservation.length >1">Quotes</span> <span *ngIf="group.getTicketReservation.length == 1">Quote</span> </span> -->
               </h5>
            </div> <br>   
            <div id="style-1" class="desk-items" [dragula]='"salesnested-bag"' [attr.data-type]="non-status" [attr.data-milestoneId]="group.statusId" [attr.data-milestoneName]="group.name" [attr.data-isQuotation]="group.isQuotation" [attr.data-StatusId]="group.statusId" *ngIf="isGranted('Pages.Tenant.Enquiry.SalesEnquiry.Edit')">
                <a id="cart" *ngFor="let item of group.getTicketReservation" [ngStyle]="{'background':item.statusColorCode?item.statusColorCode:'','border-style':item.statusColorCode?'solid':'none','border-width':'0px'}"
                      [attr.data-itemId]="item.id" 
                      [attr.data-itemQuotationId]="item.quotationId" 
                      [attr.data-companyId]="item.companyId" 
                      [attr.data-StageName]="item.statusName" 
                      [attr.data-qStatusId]="item.quotationStatusId" 
                      [attr.data-contactId]="item.contactId" 
                      [attr.data-salesId]="item.assignedbyId" 
                      [attr.data-designationId]="item.designationId" 
                      [attr.data-designationName]="item.designationName" 
                      [attr.data-count]="item.quotationCount" 
                      [attr.data-type]="non-status" 
                      [attr.data-total]="item.estimationValue"   
                      [attr.data-approved]="item.approved" 
                      class="deskItem {{item.departmentName}}">  

                        <div *ngIf= "!item.quotationId">
                                <div (click) ="editSalesEnquiry(false,item.id,item.quotationId)">
                                <div class="ddns">
                                        <small  data-placement="bottom" tooltip="Key Account" *ngIf="item.designationId == 7" style="font-weight: 600;color: #0a39ec;">{{item.companyName}}</small>
                                        <small *ngIf="item.designationId != 7" style="font-weight: 600;">{{item.companyName}}</small>
                                        <span  *ngIf="item.stared == true" style="cursor: pointer;"  data-placement="left" tooltip="Starred">
                                            <i class="fa fa-star" style="color: yellow;" aria-hidden="true"></i>
                                        </span>
                                        <br>
                                        <p class="ddns">
                                                    {{item.subMmissionId}}-                      
                                            <small style="font-weight: 400;" class="name">{{item.name}}</small><br>
                                    </p> 
                                    <div class="ddns"  class="row" Id="quotlist">
                                            <ul>                                     
                                                <div [innerHTML]="item.quotationsNew"></div>
                                            </ul> 
                                    </div>
                                </div>    
                                </div>
                                <span *ngIf="item.strike == true" id="textdeco" (click) ="editSalesEnquiry(false,item.id,item.quotationId)">
                                    {{item.estimationValueformat}}
                                </span>
                                <span *ngIf="item.strike == false" style="font-size: 20px;" (click) ="editSalesEnquiry(false,item.id,item.quotationId)">
                                        {{item.estimationValueformat}}
                                    </span>   
                                <span style="font-size: 12px;" (click) ="editSalesEnquiry(false,item.id,item.quotationId)">{{item.address}}</span>  
                                <p>
                                        <img (click) ="editSalesEnquiry(false,item.id,item.quotationId)" *ngIf="item.coordinatorName"  class="img-circle" height="25" id="propic" width="25" tooltip="{{item.coordinatorName}}" src="{{path+item.coordinatorImage}}">                              
                                        <img (click) ="editSalesEnquiry(false,item.id,item.quotationId)" *ngIf="item.assignedbyImage"  class="img-circle" height="25" id="propic"  width="25"  tooltip="{{item.salesMan}}" src="{{path+item.assignedbyImage}}">
                                        <img (click) ="editSalesEnquiry(false,item.id,item.quotationId)" *ngIf="item.designerName"  class="img-circle" height="25" id="propic"  width="25"  tooltip="{{item.designerName}}" src="{{path+item.designerImage}}">                  
                                       
                                        <small (click) ="editSalesEnquiry(false,item.id,item.quotationId)"  class="statusmessage mes">{{item.browcerinfo}}</small>
                                        <small class="statusmessage mes2" (click)="changeStage(group.isQuotation,item.id,item.quotationId,group.statusId,group.name,item.statusName)">{{item.percentage}} %</small>     
                                        <small *ngIf="item.designerName" class="statusmessage mes3">{{item.revision}}</small>
                                        <i (click) ="editSalesEnquiry(false,item.id,item.quotationId)" style="color: green;cursor: pointer;"  data-placement="right" tooltip="Closure date will expire soon" *ngIf="item.isExpire == true" class="fa fa-exclamation-triangle"></i>
                                        <i style="color: red;cursor: pointer;"  data-placement="right" tooltip="Activity Date Expired" *ngIf="item.isLast == true" class="fa fa-exclamation-circle"></i>
                                </p>
                    </div>
                    <div *ngIf= "item.quotationId">
                                <div (click) ="editSalesEnquiry(true,item.id,item.quotationId)">
                                <span  *ngIf="item.isOptional" style="cursor: pointer;" class="bell on" data-placement="right" tooltip="System Generated"></span>
                                <div class="row"  style="margin-right: 0px;">
                                        <img *ngIf="item.assignedbyImage"  class="img-circle" height="30" id="propic3"  width="30" data-placement="bottom" tooltip="{{item.salesMan}}" src="{{path+item.assignedbyImage}}">
                                        <img *ngIf="item.designerName"  class="img-circle" height="30" id="propic3"  width="30" data-placement="bottom" tooltip="{{item.designerName}}" src="{{path+item.designerImage}}">                              
                                        <img *ngIf="item.coordinatorName"  class="img-circle" height="30" id="propic3"  width="30" data-placement="bottom" tooltip="{{item.coordinatorName}}" src="{{path+item.coordinatorImage}}">                              
                                </div>
                                <small  data-placement="bottom" tooltip="Key Account" *ngIf="item.designationId == 7" style="font-weight: 600;color: #0a39ec;">{{item.companyName}}</small>
                                <small  class="ddns" *ngIf="item.designationId != 7" style="font-weight: 600;">{{item.companyName}}</small>
                                <span  *ngIf="item.stared == true" style="cursor: pointer;"  data-placement="left" tooltip="Star Lead">
                                    <i class="fa fa-star" style="color: yellow;" aria-hidden="true"></i>
                                </span>
                                </div>
                                    <p  class="ddns">
                                        <a *ngIf="group.name != 'Closed'" (click) ="editSalesEnquiry(false,item.id,item.quotationId)"> 
                                            {{item.subMmissionId}}-                      
                                    </a>
                                    <a *ngIf="group.name == 'Closed' && item.statusName == 'LPO'" (click) ="editSalesEnquiry(false,item.id,item.quotationId)"> 
                                        {{item.subMmissionId}}-                      
                                    </a>
                                    <a *ngIf="group.name == 'Closed' && item.statusName != 'LPO'" style="pointer-events: none;"> 
                                        {{item.subMmissionId}}-                      
                                    </a>
                                            <small (click) ="editSalesEnquiry(true,item.id,item.quotationId)"  style="font-weight: 400"> {{item.name}}</small><br>
                                        
                                        </p> 
                                    <div (click) ="editSalesEnquiry(true,item.id,item.quotationId)">
                                   
                                    <span *ngIf="item.strike == true" id="textdeco">
                                        {{item.estimationValueformat}}
                                    </span>
                                    <span *ngIf="item.strike == false" style="font-size: 20px;">
                                            {{item.estimationValueformat}}
                                    </span>   
                                <span style="font-size: 12px;">{{item.address}}</span>  
                            
                            </div>
                            <p>
                                <small style="font-weight: 400;color: red" class="name" (click) ="editSalesEnquiry(true,item.id,item.quotationId)"><b>{{item.quotationsNew}}</b></small>                           
                                <small  style="background: #fff;padding: 2px;border: 1px solid #000;border-radius: 3px;" class="statusmessage" (click) ="editSalesEnquiry(true,item.id,item.quotationId)">{{item.browcerinfo}}</small>
                                <small   style="background: #fff;padding: 2px;border: 1px solid #000;border-radius: 3px;cursor: pointer;" class="statusmessage" (click)="changeStage(group.isQuotation,item.id,item.quotationId,group.statusId,group.name,item.statusName)">{{item.percentage}} %</small>     
                                <small *ngIf="item.designerName" style="background: #000;color: #fff;padding: 2px;border: 1px solid #000;border-radius: 3px;" class="statusmessage">{{item.revision}}</small>
                            </p>
                    </div>
            </a> 
            </div>

            <div class="desk-items" [attr.data-type]="non-status" [attr.data-milestoneId]="group.statusId" [attr.data-milestoneName]="group.name" [attr.data-isQuotation]="group.isQuotation" [attr.data-StatusId]="group.statusId" *ngIf="!isGranted('Pages.Tenant.Enquiry.SalesEnquiry.Edit')">
                    <a id="cart" *ngFor="let item of group.getTicketReservation" [ngStyle]="{'background':item.statusColorCode?item.statusColorCode:'','border-style':item.statusColorCode?'solid':'none','border-width':'0px'}" [attr.data-itemId]="item.id" [attr.data-companyId]="item.companyId" [attr.data-contactId]="item.contactId" [attr.data-designationId]="item.designationId" [attr.data-designationName]="item.designationName" [attr.data-type]="non-status"  [attr.data-approved]="item.approved" class="deskItem" (click) ="editSalesEnquiry(group.isQuotation,item.id,item.quotationId)">
                        
                        <div class="row">
                            <div class="col-sm-8 sourceInd">
                                    <span *ngFor='let src of item.activityColors' data-placement="bottom"  tooltip="{{src.activityName}}" [ngStyle]="{'background-color': src.activityColors,'cursor':'pointer'}">{{src.activityCount}}</span>                                
                            </div>
                            <div class="col-sm-4">
                                    <!-- <small class="pull-right">{{item.creationTime| amTimeAgo}} </small> -->
                                    <small  style="background: #fff;padding: 2px;border: 1px solid #000;border-radius: 3px;" class="statusmessage">{{item.browcerinfo}}</small>
                                </div>                       
                        </div>
                        <div>
                            <p style="font-weight: 600">{{item.companyName}}</p>
                            <p style="font-size: 12px;" class="name">{{item.name}}</p>
                            <div class="row" style="margin-top:-10px;margin-left: -43px; margin-bottom: -9px;margin-right: 0px;"  *ngIf= "!item.quotationId" >
                                <ul>
                                    <li style="background: white;border: 0px solid #fff;border-radius: 0px;box-shadow: inset 0px 0px 1px 1px rgba(82, 82, 82, 0.48);" class="carded" *ngFor='let qot of item.quotations'>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div><i class="fa fa-circle-o" style="color:red;" aria-hidden="true"></i>  {{qot.quotationName}}</div>
                                            </div>
             
                                            </div>
                                    </li>
                                </ul>
                        </div>
                            <small *ngIf='!item.quotationId'>{{item.departmentName}}</small> 
                            <small *ngIf='item.quotationId'>{{item.inquiryName}}</small>                                           
                            </div>
                    </a>
            </div>
           
        </div>
    </div>

    <selectleadsDepartmentModal #selectleadsDepartmentModal (modalSave)="getTickets('')">
    </selectleadsDepartmentModal>
    <selectStageModal #selectStageModal (modalSave)="getTickets('')">
    </selectStageModal>

<router-outlet (deactivate)="kanbanActivate($event)"></router-outlet>

