.gu-mirror {
    position: fixed!important;
    margin: 0!important;
    z-index: 9999!important;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80)
}
.quotation
{
    line-height: 100%;
}
.quotation.deskItem {
   min-height: 115px !important;
}

.ddns
{
    overflow: hidden;
    white-space: normal;
}

.quotationclass
{
    color: white;
    background-color: #444d58 !important;
}

.gu-hide {
    display: none!important
}

.gu-unselectable {
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important
}

.gu-transit {
    opacity: .2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20)
}

.page-head .page-title {
    padding: 0px;
    margin-top: 5px;
}


/* dragula-specific example page styles */

.wrapper {
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px 0px;
    white-space: nowrap;
}

    #style-1::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #cdcdd0;    }
    
        #style-1::-webkit-scrollbar-track {
            border-radius: 10px;           
        }
        #style-1::-webkit-scrollbar {
            width: 9px;
            background-color: #444d58;
        } 

/* .dndcontainer {
    background-color: #b3afaf;
    border-radius: 3px;
    display: inline-block;
    height: 100%;
    margin-right: 7px;
    min-height: 100px;
    overflow: hidden;
    padding-bottom: 20px;
    vertical-align: top;
    min-width: 150px;
} */

.dndcontainer {
    background-color: #e4e5e9;
    border-radius: 3px;
    display: inline-block;
    height: 100%;
    margin-right: 7px;
    min-height: 100px;
    overflow: hidden;
    vertical-align: top;
    width: 13.87%;
    min-width: 212px;
}

.desk-items {
    height: 90%;
    overflow-y: auto;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.itemHead {
    padding: 0px 7px;
    position: relative;
}

.itemHead .btn {
    position: absolute;
    right: 6px;
    top: -3px;
    padding: 4px 6px;
}

.dndcontainer .desk-items .deskItem {
    position: relative;
    display: block;
    color: #000;
    text-decoration: none!important;
}

/* .dndcontainer .desk-items .deskItem:hover {
    -webkit-box-shadow: inset 0px 2px 25px -6px rgba(122, 113, 122, 1);
    -moz-box-shadow: inset 0px 2px 25px -6px rgba(122, 113, 122, 1);
    box-shadow: inset 0px 2px 25px -6px rgba(122, 113, 122, 1);
} */
#cart{
    box-shadow: inset 0px 0px 41px 8px rgba(82, 82, 82, 0.48);
    border-radius: 3px
}

.dndcontainer .desk-items .btn {
    padding: 0px;
}

.dndcontainer .desk-items .btn i.fa {
    margin-top: 2px;
}

.dndcontainer .desk-items .deskItem p {
    margin: 7px 0px;
}

.dndcontainer .desk-items .deskItem .name {
    margin-bottom: 15px;
}

.sourceInd span {
    border-radius: 50%;
    width: 20px;
    height: 20px; 
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px; text-align:center;
}

.sourceInd .emailInd {
    background: #00C853;
}

.sourceInd .callInd {
    background: #FFAB00;
}

.sourceInd .meetingInd {
    background: #304FFE;
}




/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */

.dndcontainer .desk-items .deskItem,
.gu-mirror {
    margin: 4px;
    padding: 10px;
    background-color: #fff;
    transition: opacity 0.4s ease-in-out;
}

.dndcontainer .desk-items .deskItem {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.dndcontainer .ex-moved {
    background-color: #e74c3c;
}

.dndcontainer.ex-over {
    background-color: rgba(255, 255, 255, 0.3);
}

.handle {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: move;
}

nested-repeat-example .dndcontainer span {
    display: block;
    padding: 8px;
}
#newfont{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 12px;
    letter-spacing: 0.4px;
    word-spacing: -2.2px;
    color: #FF9999;
    font-weight: bold;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.ribbon {
    position: absolute;
    right: -1px;
    top: 62px;
    overflow: hidden;
    width: 17px;
    height: 16px;
}
.ribbon span {
    line-height: 21px;
    -webkit-transform: rotate(45deg);
    transform: rotate(320deg);
    width: 93px;
    display: block;
    background: #d42020;
}
#propic {
    border: 1px solid #e0e6ec;
    float: right;
    margin-left: 1px;
}
.mes{
    background: #fff;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 3px;
}
.mes2{
    background: #fff;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
}
.mes3{
    background: #000;
    color: #fff;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 3px;
}
#quotlist{
    margin-top:-6px;
    margin-left: -43px; 
    margin-bottom: -9px;
    margin-right: 0px;
}
#textdeco{
    font-size: 20px;
    text-decoration: line-through;
}
#propic3{
    border: 1px solid #e0e6ec;
    float: right;
    margin-left: 5px;
}
.bell.on {
    background-position: -82px -73px;
    transform: scale(0.3);}
.bell {
    width: 72px;
    height: 69px;
    display: block;
    position: absolute;
    top: -13px;
    left: -15px;
    background: url(/assets/common/images/star-sprite.png) no-repeat 0 -10px;}
.star {
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        background: url(/assets/common/images/star-sign.svg) no-repeat 0 -10px;}

    .newq
    {
    background: #fff;
    padding: 2px;
    border: 1px solid #fffafa;
    border-radius: 34px;
    margin-left: 4px;
    }