<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #createcolorcodeForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span *ngIf="colorCodes.id">{{l("EditPriceLevel")}}: {{colorCodes.component}}</span>
                        <span *ngIf="!colorCodes.id">{{l("CreateNewPriceLevel")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input #nameInput class="form-control" type="text" name="name" [ngClass]="{'edited':colorCodes.code}" [(ngModel)]="colorCodes.code" required>
                                <label>{{l("ColorCode")}}  <required_field></required_field></label>
                            </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="code" [ngClass]="{'edited':colorCodes.component}" [(ngModel)]="colorCodes.component" required>
                        <label>{{l("ColorComponent")}}  <required_field></required_field></label>

                    </div>
                    <div class="col-md-12" *ngIf="colorCodes.id">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                              <label>{{l("Color")}}  <required_field></required_field></label>                                                      
                    </div>
                            <div class="col-md-6" style="margin-left: -30px;">
                                <div *ngIf="!temporaryPictureUrl">
                                    <img  src="/assets/common/images/default-profile-picture.png" width="180" height="40" alt="product-pic" class="poduct-img">

                                </div>
                                <div *ngIf="temporaryPictureUrl">
                                    <img  src="{{temporaryPictureUrl}}" alt="product-pic" width="180" height="40" class="poduct-img">                                                                    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin-top: 15px;">
                                        <input type="file" ng2FileSelect [uploader]="imguploader" />
                                </div>
                            </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!createcolorcodeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>