<div [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>Product Group</span> <small>Details({{productGroups.length}})</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
                <button title="Export" class="btn btn-circle btn-icon-only blue" (click)="exportExcel()"><i class="fa fa-file-excel-o"></i></button>
                <button title="Create New" class="btn btn-circle btn-icon-only blue" *ngIf="isGranted('Pages.Tenant.ProductFamily.ProductGroup.Create')" (click)="createProductGroup()"><i class="fa fa-plus"></i></button>       
        </div>
    </div>

    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form">
                    <div class="form-body">
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <div class="inputs inputs-full-width">
                                    <div class="portlet-input">
                                        <div class="input-group">
                                            <input [(ngModel)]="filter" name="filter" (keyup.enter)="getproductGroup()" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                            <span class="input-group-btn">
                                           <button  (click)="getproductGroup()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="list-group">
                <div style="height:55px;" *ngFor="let productGroup of productGroups" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        {{productGroup.productGroupName}} &nbsp;<span style="font-size:14px;">({{getFamilyName(productGroup.familyId)}})</span>
                        <button (click)="editProductGroup(productGroup)" *ngIf="isGranted('Pages.Tenant.ProductFamily.ProductGroup.Edit')" title="{{l('Edit')}}" class="btn btn-circle btn-icon-only green edit-person">
                                <i class="icon-pencil"></i>
                            </button>
                        <button  (click)="deleteproductGroup(productGroup)" *ngIf="isGranted('Pages.Tenant.ProductFamily.ProductGroup.Delete')" title="{{l('Delete')}}" class="btn btn-circle btn-icon-only red delete-person" href="javascript:;">
                                <i class="icon-trash"></i>
                            </button>
                    </h4>
            </div>
            </div>

        </div>
    </div>
    <createProductGroupModal #createProductGroupModal (modalSave)="getproductGroup()"></createProductGroupModal>
</div>